[2017-05-31 22:57] ed-g opened #1 "Outdated snapshot dependencies for geotools?"
Output from `mvn compile` running in `TNAST_MAVEN/TNAtoolAPI-Webapp` directory:

Should we change the version of geotools to a newer version than 12-snapshot (from pom.xml):

[code]

Or, was this version of geotools built locally? If so are there instructions to do this?

[2017-05-31 23:04] ed-g commented on #1
I've upgraded to 12.5 in pom.xml and mvn compile now works. Does that seem reasonable to you?

[code]

[2017-08-17 21:36] ed-g opened #2 "May I be added as a contributer to this repository?"

[2017-08-17 21:39] ed-g opened #3 "Can I have an account to access http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/admin"

[2017-08-17 21:45] antrim opened #4 "Ensure that there are at least 7 contiguous days during which all feeds are valid"
For each new GTFS dataset ensure that there are at least 7 contiguous days during which all feeds are valid (are between feed start and end dates) (feed can both be valid and have no service for period in question) [Trillium is the logical lead on this activity]
Possible tactics include:
* Attention to timing of GTFS feed capture
* Changes to Trillium start/end date feed practices
* Requests to no

[2017-08-17 21:52] antrim opened #5 "Show the date range of GTFS dataset validity in the UI"
Make easily available through the TNA UI, for each GTFS dataset, the date range (if any), during which all feeds in the GTFS dataset are valid. (maybe at bottom of map agency list?)

This is already being done in the Floating dialog box(i.e the start and end date of each feed is displayed for each agency as the tool tip as shown below).Each of the GTFS feeds have a different start and end dates so

[2017-08-17 21:54] antrim commented on #5
This looks awesome, thanks! cross off task 2.

From: Venkatesa Prasad, Srinivas Prabandh [mailto:venkates@oregonstate.edu]
Sent: Monday, August 14, 2017 8:07 PM
To: BARNES Matthew M
Cc: portedav1; Benjamin George Fields; PAULSON Philip
Subject: Re: Question based on task 2

Matthew,

I have been working on the development of task 2.As part of this task, a date range for which all feeds are valid i

[2017-08-17 21:55] ed-g opened #6 "Make raw GTFS feeds available for debugging in case data looks funny in TNAST"
Develop and communicate a process by which raw GTFS feeds sets that are imported to the TNA tool are available for ODOT/OSU/Trillium inspection. These feeds should not be available to the general public. [Trillium is the logical lead on this activity]

This could be as simple as dumping zip files (of feed zip files) on a protected cloud location, with the zip file name corresponding to the TNA dat

[2017-08-17 21:56] ed-g commented on #6
Postgres database backups are great to have.

What we need in addition are copies of gtfs zip files used to build the Postgresql import.

[2017-08-17 21:58] antrim opened #7 "finer resolution than the census block"
We have requested that ODOT’s GIS group replicate TNA tool “served by” and “served at level of service” functionality. This work may result in some questions related to the precise meaning of “served by” and “served at level of service”. Phil will be working with the GIS group to get them the right starting data. In addition to calculating results based on census block internal points, the GIS gro

[2017-08-17 21:59] antrim opened #8 "reduce barriers to creation of a TNA tool instance by third parties"
Look for and act on low effort opportunities to reduce barriers to creation of a TNA tool instance by third parties.

[2017-08-17 21:59] antrim commented on #8
See #1.

[2017-08-17 21:59] ed-g opened #9 "Develop documention during installation of TNAST tool"
Based on any difficulties I run into. Suggest documentation improvements.

[2017-08-17 21:59] antrim opened #10 "Should we limit access to the data import UI? Password protection?"

[2017-08-17 21:59] ed-g commented on #9
Assign to Ed.

[2017-08-17 22:00] ed-g commented on #9
AKA "Look for and act on low effort opportunities to reduce barriers to creation of a TNA tool instance by third parties."

[2017-08-17 22:00] antrim opened #11 "UI for end user to turn on/off arbitrary sets of agencies"
Add capacity at UI for end user to turn on/off arbitrary sets of agencies. When an agency is turned off it would not be reflected in any reporting or mapping. An example of a use of this functionality would be for ODOT to turn on all agencies that receive 5311 funding and run reports … like the statewide report. Adding this functionality in combination with the import UI, gives us most of the capa

[2017-08-17 22:00] antrim opened #12 "Update park & ride data"
Update park & ride data. Phil can provide the most current P&R data set. (Phil, Joel can point you to this, we want to use the “public” subset of park & rides for the TNA tool). As of today there is no longer a process in place for P&R dataset updates at ODOT.

[2017-08-17 22:02] ed-g opened #13 "UI, allow end user to turn on/off arbitrary sets of agencies."
Add capacity at UI for end user to turn on/off arbitrary sets of agencies. When an agency is turned off it would not be reflected in any reporting or mapping. An example of a use of this functionality would be for ODOT to turn on all agencies that receive 5311 funding and run reports … like the statewide report. Adding this functionality in combination with the import UI, gives us most of the capa

[2017-08-17 22:02] ed-g opened #14 "Park and Ride updates"
Update park & ride data. Phil can provide the most current P&R data set. (Phil, Joel can point you to this, we want to use the “public” subset of park & rides for the TNA tool). As of today there is no longer a process in place for P&R dataset updates at ODOT.

[2017-08-17 22:02] antrim commented on #2
Can I also be added as a contributor to this repo?
@srinivas13794 @pouyalireza

[2017-08-17 22:02] ed-g opened #15 "Include TNAST application version number as part of export metadata."
I believe that the application version # is part of export meta-data, which is good, if not already in place, add application version # to some easier to access UI location.

As mentioned by Matthew this is already being done - _Where is the easy to access location of version?_

[2017-08-17 22:03] ed-g opened #16 "Evaluate TNAST server hosting options outside of OSU"
Review pros/cons of moving aspects of TNA tool to the cloud? Create brief summary. [Trillium is the logical lead on this activity]
Costs, fixed, ongoing?
Benefits - performance, stability, etc?
Impact on third parties wishing to create TNA tool instance?

[2017-08-17 22:03] ed-g commented on #16
Assign to Ed.

[2017-08-17 22:04] ed-g opened #17 "Reporting with a block population/employment density focus"
Reporting with a block pop density focus [Trillium leads this in consultation with OSU]

- For all reports with a stop radius parameter add a measure of pop density (pop per land area) based on blocks within specified block buffer.
- Count block density only once.
- Is block area available from census or do we need to calculate?
- Any significant performance issues?
- If this data is new to TNA to

[2017-08-17 22:04] antrim opened #18 "Where is the application version # in the export metadata?"
I believe that the application version # is part of export meta-data, which is good, if not already in place, add application version # to some easier to access UI location.

As mentioned by Matthew this is already being done  - _Where is the easy to access location of version?_

[2017-08-17 22:04] BenFields724 commented on #1
The upgrade to 12.5 fixes the dependencies so this sounds reasonable. Are there additional issues other than this in getting your instance up and running?

[2017-08-17 22:04] ed-g opened #19 "Review sanity of visits count for highest activity stop cluster in state"
Review sanity of visits count for highest activity stop cluster in state (using report default values)
Top cluster lists 17,846 weekday visits, second highest visit count for a cluster is 1,830
Create brief summary of results of review

[2017-08-17 22:05] ed-g opened #20 "State code in key transit hubs and transit hubs report."
Add STATE code “OR”, “WA”, “CA”, etc. to transit hubs in key transit hubs and transit hubs report.
There may be other non-geographic reports where state information could be useful.

[2017-08-17 22:05] ed-g opened #21 "Documentation for calculation and algorithms."
Are we missing: how calculated, measured, algorithm descriptions… if so create missing content. [Phil check new Wiki page for descriptions, as well as tool tips and metadata]

[2017-08-17 22:05] ed-g commented on #21
Assign to Phil

[2017-08-17 22:06] ed-g opened #22 "Time of day reports."
Reporting with a time of day focus, to allow better understanding a timing variations in service availability/frequency
Recommend approach(es)

[2017-08-17 22:06] antrim opened #23 "Report: Pro/con of moving TNA hosting to the cloud"
Review pros/cons of moving aspects of TNA tool to the cloud? Create brief summary. [Trillium is the logical lead on this activity]

1. Costs, fixed, ongoing?
2. Benefits - performance, stability, etc?
3. Impact on third parties wishing to create TNA tool instance?

[2017-08-17 22:07] ed-g opened #24 "Investigate segmentation of routes/trips/hours into FTA rural/urban sections."
What are issues related to being able to segment routes/trips/hours into FTA rural/urban sections?
A common transit agency need is to be able to tie these splits to funding sources and allocations.

[2017-08-17 22:07] ed-g opened #25 "META: organize issues into low-hanging versus more complicated features."

[2017-08-17 22:07] antrim opened #26 "Reporting with a block pop density focus"
Reporting with a block pop density focus [Trillium leads this in consultation with OSU]

1. For all reports with a stop radius parameter add a measure of pop density (pop per land area) based on blocks within specified block buffer.
2. Count block density only once.
3. Is block area available from census or do we need to calculate?
4. Any significant performance issues?
5. If this data is new to T

[2017-08-17 22:08] ed-g commented on #25
Perhaps categorize into two milestones.

[2017-08-17 22:08] ed-g commented on #25
Or, two labels.

[2017-08-17 22:08] antrim opened #27 "Review sanity of visits count for highest activity stop cluster in state"
Review sanity of visits count for highest activity stop cluster in state (using report default values)
Top cluster lists 17,846 weekday visits, second highest visit count for a cluster is 1,830
Create brief summary of results of review

[2017-08-17 22:12] ed-g commented on #16
OSU will check with their IT support about allowing outside people access.

[2017-08-17 22:13] antrim commented on #4
@pouyalireza Can you close or delete this?

[2017-08-17 22:13] ed-g commented on #16
Sometimes there is a "DMZ" partition of a network for cases like these where services are co-managed by two agencies.

[2017-08-17 22:14] antrim commented on #27
Duplicate of #19. Request to close.

[2017-08-17 22:14] #27 closed

[2017-08-17 22:15] antrim commented on #26
Duplicate of #17. Closing

[2017-08-17 22:15] #26 closed

[2017-08-17 22:16] ed-g commented on #17
Ask questions of the OSU team while making changes.

[2017-08-17 22:16] antrim commented on #23
Duplicate of #16. Closing.

[2017-08-17 22:16] #23 closed

[2017-08-17 22:16] antrim commented on #12
Duplicate of #14. Closing.

[2017-08-17 22:16] #12 closed

[2017-08-17 22:17] antrim commented on #11
Duplicate of #13. Closing.

[2017-08-17 22:17] #11 closed

[2017-08-17 22:17] ed-g commented on #19
Assign to OSU

[2017-08-17 22:18] antrim commented on #9
Where should we put the documentation -- in this GitHub repo?

Related issue/question: #1.

[2017-08-17 22:18] antrim commented on #8
Duplicate of #9.

[2017-08-17 22:18] #8 closed

[2017-08-17 22:20] ed-g commented on #16
OSU is likely more affordable for hosting, but if there is a high administrative overhead that may make Trillium hosting more appealing.

[2017-08-17 22:21] ed-g commented on #21
For use by planners and GIS analysts who work with transit data.

[2017-08-17 22:22] ed-g opened #28 "META: link back to documentation wiki from this github repository"

[2017-08-17 22:22] ed-g commented on #28
Assign to OSU

[2017-08-17 22:23] ed-g commented on #22
Categorize as more complex task.

[2017-08-17 22:24] ed-g commented on #24
Assign to OSU team.

[2017-08-17 22:24] ed-g commented on #24
Example query: how many of a given agencies service miles are inside the FTA rural service versus FTA urban service?

[2017-08-17 22:25] ed-g commented on #24
META: Catagorize as more complex issue.

[2017-08-17 22:26] ed-g commented on #24
What are barriers to doing this?

The biggest challenge is, imagine a route, look at how many blocks it traverses. Write a spatial query to categorize into rural, urban.

Trimet, for example would be a big query.

Generalize method to segment routes, and report based on that.

[2017-08-17 22:31] ed-g commented on #3
Schedule a phone call to transfer credentials.

[2017-08-17 22:40] ed-g commented on #1
@BenFields724 great. Would you please update https://github.com/pouyalireza/TNAST_MAVEN/blob/master/TNAtoolAPI-Webapp/pom.xml and add a comment here with the commit number?

[2017-08-17 22:47] ed-g commented on #28
Install docs will remain in Readme.md however.

[2017-08-17 22:49] ed-g commented on #18
Duplicate for #15

[2017-08-17 22:50] ed-g commented on #18
We can close this ticket when we have github contributor status to do so.

[2017-08-17 22:52] ed-g opened #29 "Enable wiki on this repository."
Then add links back to the project:

http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/admin

https://docs.google.com/document/d/16HFj_W5d-HNIMhIUgrMzZdcbw7xCuXENJr1RkGIeelw/edit#

[2017-08-17 22:52] ed-g commented on #29
Assign to Ed.

[2017-08-17 22:52] ed-g commented on #28
Include link in #29 (github wiki)

[2017-08-17 23:03] pouyalireza commented on #2
You have been added let us know if it works or you have any other issues

[2017-08-17 23:03] ed-g commented on #10
Looks like this is done!

We should close this when we have github contributor status.

[2017-08-17 23:05] PPaulsonOregonDOT commented on #14
[ODOT_P_R_List.zip](https://github.com/pouyalireza/TNAST_MAVEN/files/1232845/ODOT_P_R_List.zip)

That's the Park and Ride List from the public ODOT FTP site.

[2017-08-17 23:12] pouyalireza commented on #1
This has been fixed commit number : 7e1015317249d12487784448fb8fa2fb7b3a5d1c

[2017-08-17 23:16] PPaulsonOregonDOT commented on #5
Two notes on the functionality of the tool posted above, from the Fall 2016 database:
1) On the graph style output above, the tooltip for the overlap only include the months i.e. Aug-Oct. 2016
2. These months do not match the dates listed on the floating tool bar, which run from the end of July 24th to September.

Can you clarify what these two date ranges measure, and make sure that they're inter

[2017-08-17 23:34] ed-g commented on #3
Scheduled with Srinivas for Friday the 18th. Contact number in email.

[2017-08-17 23:38] ed-g commented on #2
I have access. Thank you!

[2017-08-17 23:40] ed-g commented on #1
Looks good, thanks!

[2017-08-17 23:40] #1 closed

[2017-08-18 00:27] #10 closed

[2017-08-18 00:29] ed-g commented on #2
Can we also add @PPaulsonOregonDOT as collaborator

[2017-08-18 00:30] #29 closed

[2017-08-18 00:39] #28 closed

[2017-08-18 16:32] ed-g commented on #9
It sounds like docs should be integrated with the https://github.com/pouyalireza/TNAST_MAVEN/blob/master/README.md file

@pouyalireza does that seem like the best location for install docs?

[2017-08-18 18:03] pouyalireza commented on #2
Philip has also been added.Please let us know if it works.

[2017-08-18 18:27] PPaulsonOregonDOT commented on #22
I think that this can be implemented outside of the TNA tool, using the stops export and Tableau. If there is additional required functionality, I think that this visualization could serve as a template:
https://public.tableau.com/profile/phil2727#!/vizhome/ServiceMetricsStory/ServiceMetricsData

[2017-08-18 21:16] ed-g commented on #2
@pouyalireza looks great thank you!

May I request one more, to add @antrim as collaborator.

[2017-08-18 21:19] ed-g commented on #25
Hi @PPaulsonOregonDOT @pouyalireza would you please go through the tickets for this project and categorize each one as either "easy" or "hard" using the Github labels feature?

I've created those labels to this project. Easy refers to low hanging fruit from our conversation the other day, and hard to the more complicated features.

[2017-08-18 21:20] #3 closed

[2017-08-18 21:24] ed-g commented on #3
@antrim I've saved this login in Lastpass and shared it with you and others.

[2017-08-18 21:25] ed-g commented on #2
Also, if David.Porter@oregonstate.edu, venkates@oregonstate.edu, or fieldsbe@oregonstate.edu will be working on this project, can you add their github users as collaborators as well? That way we can assign tasks to them.

[2017-08-18 21:26] #18 closed

[2017-08-18 22:56] ODOT-RPTD-mb commented on #5
Possible modification to "Valid Date Range:" posting:
Because the current "no valid date range" message could be disturbing to less experienced TNA tool users, I suggest that we use a "Best Date Range" message paired with one or two percentage indicators.

For example:
**BEST DATE RANGE:**
10/11/2016 – 10/22/2016 (85% Agencies, 99% Service Miles)
 or
**BEST DATE RANGE:**
5/26/2017- 6/29/2017 (100%

[2017-08-18 23:41] ODOT-RPTD-mb opened #30 "Aggregated Urban Area Report"
http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/GeoUAreasRReport.html?&popMin=0&popMax=2000000&dbindex=8&popYear=2010

Not completing in 40+ minutes, outside of ODOT environmen6 with default values.

[2017-08-21 19:18] ed-g commented on #25
@PPaulsonOregonDOT @pouyalireza @pbarahimi @mohsenis would one of you please categorize the tickets as "easy" or "hard" so that we can make a work plan?

[2017-08-21 19:19] ed-g commented on #2
@pouyalireza can you please add these contributors?

[2017-08-22 02:50] pouyalireza commented on #2
@srinivas13794  @BenFields724  have been added as contributors.

[2017-08-22 17:14] PPaulsonOregonDOT commented on #22
Do we want to pursue this functionality solely within the tool itself, or is it doable to integrate outside GIS/Data visualization software to accomplish this task? One observation I do have about this data is that there are a lot of null time values in the shapefile exports, which leaves holes in the data. I suspect this is an artifact of the GTFS data that the tool ingests, but more clarity on e

[2017-08-22 18:40] ed-g commented on #25
@srinivas13794 @BenFields724 @pouyalireza @PPaulsonOregonDOT can you decide among yourselves in the next day and nominate someone to classify tasks as easy or hard?

Don't agonize over it, we can re-classify later. This is just a first step.

@antrim

[2017-08-22 18:42] ed-g commented on #22
@PPaulsonOregonDOT

I'm only guessing about the output shapefile -- can you point to an example?

It could be that stop_times has a null arrival or departure time for the stop associated with a  shape_dist_travelled.

There are a number of ways to deal with that, the simplest is linear interpolation with distance, from the two nearest stop_times.txt entries containing arrival or departure times.

[2017-08-22 18:45] ed-g commented on #30
@pouyalireza @BenFields724 @tnatool

Can you produce a log file for this operation?

What tools do we have to gather information necessary to debug this problem?

[2017-08-22 18:46] ed-g commented on #21
@PPaulsonOregonDOT here's a naive work plan I put together. Any suggested changes?

* Identify the algorithms used, which we'd like to document.
* For each algorithm
  * Make a page in the wiki with description, and also include tool tips here
  * Create github issue for each recommended tooltip

[2017-08-22 18:51] ed-g commented on #2
@pouyalireza thank you!

Would you please add @antrim as a contributor?

[2017-08-22 18:56] ed-g commented on #2
@pouyalireza can you also please add David Porter?

I'm wanting to at-mention him on a ticket.

[2017-08-22 19:39] PPaulsonOregonDOT commented on #21
I think that the difficulty/time required for this depends on how much knowledge you assume a general planner/GIS analyst is going to want/need to know about the individual SQL queries.

[2017-08-22 20:03] ed-g commented on #21
Could we find a planner who would be willing to give us a a half-hour of their time reviewing the docs and giving us guidance?

Otherwise just as a guess I'd tend to lean towards "assume they're good at GIS but not familiar with specifics of our table layout".

[2017-08-22 20:04] ed-g commented on #25
Labels are available in the right hand side of any individual ticket, or in the tickets list view, select tickets with a check box then the header will allow you to apply lablels.

[2017-08-22 20:05] ed-g commented on #25
https://help.github.com/articles/applying-labels-to-issues-and-pull-requests/

[2017-08-22 20:34] pouyalireza commented on #20
At present stops outside oregon are not associated with a state id.We are working on a solution to classify stops outside oregon.Any suggestions would be helpful.

[2017-08-22 20:34] PPaulsonOregonDOT commented on #7
From my first reading of the analysis done by the GIS group at the county level, for the total population calculation the TNA tool outputs are about 5% higher than the the area weighted calculation. When looking at urban areas, this rises to 10%, and in rural areas, it rises to around 20%. Most of the R squared's for the linear regression model between these two measurements were in the mid to hig

[2017-08-22 20:55] ed-g commented on #25
@pouyalireza @srinivas13794 @BenFields724

Phil has started on this work. Can you divide/delegate among yourselves a review for every untagged issue. Or -- if the person assigned to evaluate the difficulty of an issue can't decide if its "easy" or "hard", they can categorize as "difficulty unknown" and include a comment with a reason why the issue cannot be categorized.

Can you commit to getting

[2017-08-22 21:00] PPaulsonOregonDOT commented on #20
On the server side, I think you might be able to create state boundary files with the bare minimum data in it (ID, and STATE), and then spatially join then using a JOIN.... ON ST_Intersects(geom.Stops, geom.States) to add the state to each stop file (using the data contained in stop.txt), and that would allow you to query and group by the state identifier in the reports that need it.

[2017-08-22 21:03] ed-g commented on #20
Quick search found this:

https://community.jaspersoft.com/wiki/how-generate-map-data-postgis-or-shapefiles-use-reports

https://www.census.gov/cgi-bin/geo/shapefiles/index.php

Might be useful.

[2017-08-23 01:00] BenFields724 commented on #25
Yes. We can most definitely get that squared away in the next couple days if not tomorrow.

[2017-08-23 01:05] BenFields724 commented on #15
I believe this task was addressing the fact that the version number was not easily accessibly within the actual application. We added the application version number into the standard UI to fix this. Commit number108d9daa8eba56cd01d78430d799bdaf706b5314

[2017-08-23 01:08] BenFields724 commented on #4
This task is addressed in the newly added feed duration visualizer.

[2017-08-23 19:14] pouyalireza commented on #30
As far as debugging goes we usually look at the console on the browser and eclipse.I am not too familiar with a log file could you please let me know what such a file would specifically contain. Right now we have narrowed down the error to be a problem with a hibernate mapping file and we are working on fixing it.

[2017-08-23 19:21] BenFields724 commented on #25
The tasks have been categorized. Feel free to update or change.

[2017-08-24 23:15] ODOT-RPTD-mb commented on #20
It may not be practical to address this issue by putting in place the infrastructure to support a fully multi-state TNA tool, but it is practical to take a step in that direction as part of making this change, that could be a plus.

[2017-08-24 23:38] ODOT-RPTD-mb commented on #22
After talking to TPAU staff, they would like to be able to select a geo area, a date, and a time range, and get as output a list of stops (name/id/lat-long) within the geo area each with an associated transit visit count for each agency that visits the stop in the specified date/time-range.

Various urban areas 50k+ will be their initial geo area focus.

[2017-08-25 20:27] ed-g commented on #25
Hi @BenFields724

I don't mean to be a lawyer but can you include a comment with a reason why the issue cannot be categorized, for the two tickets which you classified as "difficulty unknown".

The end goal here is to have a list of next steps for each task. If we don't know enough even to classify it as easy or hard the reasoning why not at least gives me a starting point to investigate the task,

[2017-08-25 21:29] pouyalireza commented on #21
@ed-g  I think  it might be more appropriate @PPaulsonOregonDOT to tag this task.As from the point of view of the user we need to identify what information might need to be added to the wiki.

[2017-08-25 21:32] pouyalireza commented on #7
I am not sure what the next step with regard to this task would be @PPaulsonOregonDOT. @ed-g I think we would need more information for us to tag this task.

[2017-08-25 21:37] pouyalireza commented on #25
@ed-g  I have made comments to both the tasks labelled difficulty unknown.We would need more information on both these tasks.Please read through my comments and the task descriptions and let me know if you have any questions.

Thanks.

[2017-08-25 21:45] PPaulsonOregonDOT commented on #7
I shared the initial results of the analysis above, we're still fixing an internal data issue and doing more analysis of the data to determine if there is a followup request we have for added TNAST functionality as a result of this analysis.

[2017-08-25 21:49] ed-g commented on #25
@pouyalireza perfect, thank you!!!

[2017-08-25 21:49] #25 closed

[2017-08-25 22:07] pouyalireza commented on #30
@ODOT-RPTD-mb  this bug has been fixed.The report should load now.Please let me know if it works.

Thanks.

[2017-08-25 23:14] pouyalireza commented on #24
@ODOT-RPTD-mb @ed-g

I have considered three metrics for the above task :

**Route miles** :This metric can be split into urban and rural without any limitations
**Service Hours** :Calculation of urban and rural service hours would not be feasible using the current definition.As the query for an agency like TRIMET would take more than an hour to complete.
**Service miles** :Would not be feasible t

[2017-08-26 14:41] ODOT-RPTD-mb commented on #24
Thanks! I guess the remaining question is; with the remaining time we have can we implement a lookup table? If not does it make sense to drop or scale back other tasks to fit this in?

Matthew
________________________________
From: pouyalireza [notifications@github.com]
Sent: Friday, August 25, 2017 4:14 PM
To: pouyalireza/TNAST_MAVEN
Cc: BARNES Matthew M; Mention
Subject: Re: [pouyalireza/TNAST_M

[2017-08-26 14:50] ODOT-RPTD-mb commented on #30
It is working for me, outside of ODOT environment.

[2017-08-26 20:58] ODOT-RPTD-mb commented on #4
This is still a Trillium process issue. How does Trillium trigger a build so that looking back seven days all feeds are valid. We should consider this task complete, when we have a new db in place with 7+ days of contiguous validity, and Trillium understands the issues associated with making this happen. Speed is an issue for ODOT on this issue; we can use a "solid" snapshot of the network to buil

[2017-08-26 22:26] #30 closed

[2017-08-27 06:18] pouyalireza commented on #9
@ed-g  Yes.

[2017-08-28 18:02] ed-g commented on #2
Ping. Can you please add David Porter.

[2017-08-28 18:10] ed-g commented on #24
@pouyalireza where is the SQL source of the slow Trimet query.  How can I reproduce?

Creating a lookup table should be straightforward (I'll probably create as another table or materialized view).  But multiple steps and trial and error means I would estimate 4-8 hours. I can help with this.

[2017-08-28 19:36] srinivas13794 commented on #24
Hi Ed,

The SQL files for route miles and service hours,service miles are
attached.I have added comments to both these queries in order to explain
each step.Both these queries are used to form the agency extended report.I
have been trying to explore the possibility of using a lookup table for
service miles and service hours,I think that this will not be very
straightforward as both these metrics a

[2017-08-28 19:38] pouyalireza commented on #22
@ODOT-RPTD-mb  Would this be a separate report or a part of an existing report? Adding a time interval filter to the stops report would be a possibility to consider.

[2017-08-28 19:52] pouyalireza commented on #2
@ed-g  I have already sent an invite out to @antrim  please let me know if I need to resend it.

[2017-08-28 19:54] ed-g commented on #24
Thanks! I've copied the versions from email here and used githubs code-formatting feature (three back quotes followed by the word "sql"). And added some newlines for readability.

[code]

[code]

[2017-08-28 19:59] PPaulsonOregonDOT commented on #17
I think this can probably be pushed back into we get an answer on Task #7, which will determine the level of value we would expect from implementing it.

[2017-08-28 20:00] ed-g commented on #2
@pouyalireza ok great :-)

Does David Porter have a github user?

Thanks for taking care of all this. Ahh the joys of project management.

[2017-08-28 20:11] ed-g commented on #24
These queries can be run with `EXPLAIN ANALYZE` at the top to get analyzer statistics, which we can paste into https://explain.depesz.com/

That will at a minimum tell us which CTE's take the most time to run.

[2017-08-28 20:25] pouyalireza commented on #24
@ed-g I forgot to mention this in my email :  These queries are structured such that the agency id and other relevant parameters such as date,search radius etc change based on the user input.Hence we do not have separate queries for every agency.The same queries are run for all agencies.

[2017-08-28 22:07] PPaulsonOregonDOT commented on #21
Does someone have a link to the development version of the wiki? It would be helpful for this task to be able to point planners here to provide feedback?

[2017-08-28 23:05] pouyalireza commented on #21
@PPaulsonOregonDOT here is the link:  http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/wiki#!index.md

[2017-08-29 00:09] ed-g commented on #21
FYI I've been collecting these links on

https://github.com/pouyalireza/TNAST_MAVEN/wiki

[2017-08-29 20:24] PPaulsonOregonDOT opened #31 "Data in Statewide Report"
Under the statewide report, the tool is currently reporting that there are 36 ODOT Transit Regions, but there are only 6. When you click the hyperlink, the report you reach only has 6 regions listed.

[2017-08-30 16:52] PPaulsonOregonDOT commented on #4
This may be obvious, but I think that because it needs another db build, this needs to be preceeded by an answer to #16 related to evaluating where the tool will be hosted moving forward. @BenFields724, @pouyalireza, do we have an answer to that question? I think that this may also require, us to not include services that don't run year round, because those significantly shrink our window. @ed-g,

[2017-08-31 00:01] PPaulsonOregonDOT opened #32 "Submit button for stops report"
I tried to run the stops report for Baker County (County Report->Rural Stops), and shows the people mover routes with no visits, using the May 2017 database. I checked the GTFS, and these stops have entries in stop_times.txt, but this route only runs the 2nd and 4th Thursday of the month. I tried to use the date selector to try to select 8/24/17 to check the report behavior on a date that has stop

[2017-08-31 19:10] pouyalireza commented on #32
@PPaulsonOregonDOT  This error has been fixed in commit  2ab8458097531ed835e6e0cb2e6e083b35448e31

[2017-08-31 19:11] pouyalireza commented on #31
@PPaulsonOregonDOT  This error has been fixed in commit  2ab8458097531ed835e6e0cb2e6e083b35448e31

[2017-08-31 19:12] pouyalireza commented on #5
@PPaulsonOregonDOT  The dates should be consistent now this has been addressed in commit  2ab8458097531ed835e6e0cb2e6e083b35448e31

[2017-08-31 19:15] antrim commented on #4
Trillium should proceed "with an eye to an ongoing, perhaps quarterly build process by Trillium." (via M Barnes, @ODOT-RPTD-mb).

cc: @ed-g

Can someone please assign this to @antrim or @ed-g ? I do not have access to make assignments on this repo.

[2017-08-31 19:23] ed-g opened #33 "New install: TNAtoolAPI-Webapp has broken links to some scripts."
These urls are not loading on my install of TNAST:

The following may be because I installed my WAR file directly after compiling "mvn package" so that it has the name `TNAtoolAPI-Webapp-0.0.1-SNAPSHOT.war` and my url with tomcat is http://127.0.0.1:8080/TNAtoolAPI-Webapp-0.0.1-SNAPSHOT

http://127.0.0.1:8080/TNAtoolAPI-Webapp/queries/transit/menu?day=null&dbindex=-1&username=admin
http://127.0.0.

[2017-08-31 19:31] ed-g commented on #33
Hmm, I've re-installed to http://127.0.0.1:8080/TNAtoolAPI-Webapp/ but some of these links are still broken:

http://127.0.0.1:8080/TNAtoolAPI-Webapp/modifiers/dbupdate/getVersion
http://127.0.0.1:8080/TNAtoolAPI-Webapp/queries/transit/DBList
http://127.0.0.1:8080/TNAtoolAPI-Webapp/FileUpload?getSessionUser=gsu
http://127.0.0.1:8080/TNAtoolAPI-Webapp/queries/transit/menu?day=null&dbindex=-1&userna

[2017-08-31 19:37] ed-g commented on #33
Upshot is the menu bar keeps "loading" indefinitely.

![transit network analysis tool](https://user-images.githubusercontent.com/2495118/29941976-21be02da-8e49-11e7-8f6f-6fe54e7567df.png)

[2017-08-31 20:14] ed-g commented on #14
@srinivas13794 yes please document what you changed and upload the CSV here. Ok if its still under development.

[2017-08-31 20:43] ed-g commented on #33
There is a file which should be installed to:

./src/main/resources/com/model/database/connections/transit/mapping/GtfsMapping.hibernate.xml

[2017-08-31 20:46] ed-g commented on #33
@BenFields724 the GtfsMapping.hibernate.xml file which you emailed me looks to be the same as the file currently in the source code.

https://github.com/pouyalireza/TNAST_MAVEN/blob/master/TNAtoolAPI-Webapp/src/main/resources/com/model/database/connections/transit/mapping/GtfsMapping.hibernate.xml

Should this file require some edits?

[2017-08-31 20:57] BenFields724 commented on #33
[NewInstanceFiles.zip](https://github.com/pouyalireza/TNAST_MAVEN/files/1268462/NewInstanceFiles.zip)

[2017-08-31 21:02] BenFields724 commented on #33
It was provided by Pouya when I was setting up my instance so it may have been a redundant replacement. Not sure if there was anything actually changed for that file.  My familiarity with hibernate mapping is minimal so I can't really speak to that at the moment.

[2017-08-31 21:50] antrim commented on #4
cc: @thomastrillium

Here is what the Spec says about feed_info.feed_start_date and feed_info.feed_end_date:

(https://github.com/google/transit/blob/master/gtfs/spec/en/reference.md#feed_infotxt)

GTFS Best Practices says:

(http://gtfs.org/best-practices/#publishing_4)

Proposed next steps:

- [ ] **Look at TNA software and use case:** If the Spec and Best Practices are followed, does that give

[2017-09-01 22:38] ODOT-RPTD-mb commented on #6
Develop process for saving zipped GTFS files associated with a TNAST db in an easy to access location, probably with Postgres database backups, each time a new TNAST db is created. More important that this happens for db creation going forward, than for past TNAST db.

[2017-09-02 13:00] ODOT-RPTD-mb commented on #21
- I suspect the following are not documented in tool tips or in a location otherwise easily available to end users:
- How is population/employment assigned to stop buffers
- How is stop clustering done, how stable are clusters as cluster radius changes
- How is data at the census tract level disaggregated to the block level
- How are population projections created, How do future populations relate

[2017-09-02 13:07] ODOT-RPTD-mb commented on #21
Getting to documentation on listed issues will require information from OSU team or Trillium.

[2017-09-02 13:30] ODOT-RPTD-mb commented on #13
Will require extensive testing, since this will touch most or all queries.

[2017-09-02 17:33] #15 closed

[2017-09-02 17:35] ODOT-RPTD-mb commented on #15
version # at bottom of agency drip down list.

[2017-09-02 17:58] ODOT-RPTD-mb commented on #19
Ran Key transit hub report with default values, except date set to Monday 1 May 2017.
Highest visit count is for 8 agency hub in Portland at: 45.51754779 | -122.68021323 The count is 21,438.

This is an average of a visit every 4 seconds for 24 hours, or just under 15 visits a minute...

The next highest visit count is: 1,823 or almost 20,000 fewer visits.

[2017-09-02 18:08] ODOT-RPTD-mb opened #34 "Key Transit Hubs Summary Report"
For 1 May 2017 & default values Portland key transit hub with 20k+ visits, Expanded stop view, Visit counts for Portland Streetcar stops show up as "undefined".

[2017-09-05 18:40] PPaulsonOregonDOT commented on #21
I generally agree with the points made above, though I think the assignment of population/employment and the population served at level of service documentation are implemented pretty well in the tool,and that the issue about census block aggregation/dissaggregation may not be feasible in the tool.

I would suggest that most of this information be included in the User Manual that is included in th

[2017-09-05 18:50] PPaulsonOregonDOT commented on #34
In the same report, I checked the Eugene to Coos Bay and Eugene to Bend agencies, both of which expired prior to 5/1/17, and this report show reasonable results for this report for those agencies. This suggest that this is not related to expired feeds, and that this report should be built in such a way that expired feeds do not show visits for dates for which their feeds are expired, which appears

[2017-09-05 20:16] PPaulsonOregonDOT commented on #22
@ed-g I apologize that this took so long, but I've attached a .zip file of the merged data export from all of the agencies from the May database.
[stops_shape_011536.zip](https://github.com/pouyalireza/TNAST_MAVEN/files/1278761/stops_shape_011536.zip)

[2017-09-05 20:28] ed-g commented on #22
@PPaulsonOregonDOT great thank you! I'll take a look this week.

[2017-09-06 19:29] BenFields724 commented on #33
@ed-g @ODOT-RPTD-mb @pouyalireza I have attached a word file that covers the steps to resolve problems with a new instance.
[installDocument.docx](https://github.com/pouyalireza/TNAST_MAVEN/files/1282421/installDocument.docx)

[2017-09-07 17:31] ed-g commented on #33
Text from word file.

[2017-09-07 17:32] ed-g commented on #33
Contents from NewInstanceFiles.zip, renamed to .txt to meet with githubs file name restrictions:

[march17.cfg.xml.txt](https://github.com/pouyalireza/TNAST_MAVEN/files/1285574/march17.cfg.xml.txt)
[mapping.hbm.xml.txt](https://github.com/pouyalireza/TNAST_MAVEN/files/1285576/mapping.hbm.xml.txt)
[GtfsMapping.hibernate.xml.txt](https://github.com/pouyalireza/TNAST_MAVEN/files/1285577/GtfsMapping.h

[2017-09-07 17:34] ed-g commented on #6
@tnatool @pouyalireza @srinivas13794

Where is a link to the posgres backup files? Can you post here and/or link on the wiki: https://github.com/pouyalireza/TNAST_MAVEN/wiki

[2017-09-07 17:36] ed-g commented on #6
Ok we're halfway there. Found them here:

https://drive.google.com/drive/folders/0Bx4Zxars8NaNOWNxTlctME92OGc

Would you please upload Spring 2017 dump to this folder?

[2017-09-07 17:51] ed-g commented on #6
Oops these comments should have been for #33

[2017-09-07 18:02] ed-g commented on #33
I edited the various database configurations to refer to my local database server. And changed database user to tnast (regular user) instead of postgres (superuser).

[2017-09-07 18:08] ed-g commented on #33
DBlist is returning 404. How can we get a log file for this?

http://127.0.0.1:8080/TNAtoolAPI-Webapp/queries/transit/DBList

[2017-09-07 19:21] ed-g commented on #16
@pouyalireza @BenFields724 I'm going to need your help to diagnose the installation. I sent you an email asking for ssh keys.

[2017-09-07 19:23] #31 closed

[2017-09-07 19:54] ed-g commented on #16
Here is the URL to test the new installation. It's not working yet.

http://tna.trilliumtransit.com:8080/TNATool-Webapp/?&n=--&dbindex=-1

[2017-09-07 20:37] BenFields724 opened #35 "Connection to server for file transfer"
When trying to connect to the server I get a response that no more users can connect. I am using the ftps protocol provided by mac.
![image](https://user-images.githubusercontent.com/21002354/30184107-ac77ef2a-93d1-11e7-8147-ef3e443f88c8.png)

[2017-09-07 20:41] ed-g commented on #35
@BenFields724 file transfer has an array confusingly similar but distinct and incompatible protocols.

See if your client supports "SFTP" which is ssh file transfer.

Or use filezilla which I know does support SFTP.

https://filezilla-project.org/

[2017-09-07 20:43] ed-g commented on #35
Post a picture of the configuration dialog box if you still run into trouble.

[2017-09-07 20:45] BenFields724 commented on #35
Yeah I tried filezilla as well which was failing to connect.

![image](https://user-images.githubusercontent.com/21002354/30184390-cb43f1e6-93d2-11e7-8dd7-ea7106cd8c26.png)

[2017-09-07 20:50] ed-g commented on #35
@BenFields724 filezilla is configured to use FTP (you can see port 21).

Can you configure to use SFTP (port 22, ssh-based) you'll likely need to tell it where to find your ssh key, it's typically under $HOME/.ssh/

[2017-09-07 20:52] ed-g commented on #35
https://en.wikipedia.org/wiki/Category:SFTP_clients

https://en.wikipedia.org/wiki/Comparison_of_SSH_clients

[2017-09-07 21:01] ed-g commented on #35
Another option for mac is Transmit

https://en.wikipedia.org/wiki/Transmit_(FTP_client)

[2017-09-07 21:26] ed-g opened #36 "Docs for eclipse"
Hi All,

I have been installing based on the documentation here: https://github.com/pouyalireza/TNAST_MAVEN/blob/master/README.md

Is there more documentation available which includes specific instructions for eclipse?

I have generally never had a problem installing a maven-based java project using maven and tomcat directly -- but I'd be happy to give eclipse a shot if that makes things easier.

[2017-09-07 21:36] ed-g commented on #35
@BenFields724 just confirming you were able to connect. Which client did you end up using, would you be able to help @srinivas13794 connect using the same client?

[2017-09-07 21:45] ed-g commented on #16
Checked with David Porter about getting access to tnasoftwaretool server backups so I can compare to my installation.

[2017-09-07 21:57] ed-g commented on #35
FYI in case you were testing file transfer. I'm restarting the server for an upgrade and it should be available again at 3:30pm today.

[2017-09-07 22:10] ed-g commented on #35
The tna.trilliumtransit.com server is available again.

[2017-09-07 22:22] ed-g commented on #35
A few notes copied from email. For connection from Windows machine.

[2017-09-07 22:56] BenFields724 commented on #36
@ed-g Our workflow has been through the Eclipse IDE with the web tools package and Git tools installed. So once Eclipse is installed we clone the git repo using the git repository tools and select import projects. I am a bit unfamiliar with the earlier stages of the project and whether or not the repo contains configuration files unique to eclipse which could potentially cause problems outside of

[2017-09-07 23:04] BenFields724 commented on #35
@ed-g  Regarding your comment for the confirmation of connecting to the server, yes I was able to connect through ssh and then through filezilla as well. We tried to get Srinivas' machine setup, but the connection was failing. On first thought it might be a public key format problem, but I am not sure.

[2017-09-07 23:11] ed-g commented on #36
Ok Ben thanks for the background!

It sounds to me like the eclipse IDE does the same steps behind the scenes as I'm doing using the command line:

* `git pull` to grab the source code.
*  `mvn package` to build a war (web application archive) file.
* Install the war file to the web server under the name TNAtoolAPI-Webapp.

As far as I can tell I'm not running into any errors with the deployment p

[2017-09-07 23:15] ed-g commented on #35
Ok thanks for your work on this.

For PuTTY have you tried the instrctions I linked to above?

It looks like filezilla has an SSH key import function. https://wiki.filezilla-project.org/Howto

Please post screenshots of your configuration dialog and error messages!

[2017-09-07 23:16] ed-g commented on #35
WinSCP might be easier to set up than Filezilla on windows -- if one doesn't work after 10 minutes of configuration I'd recommend trying the other. Putty claims to have a built-in file transfer function but I've never used it.

[2017-09-07 23:20] ed-g commented on #35
Mentioned this to Srinivas. You might try asking for help from OSU's IT department. They should be knowledgeable about how to set up SSH and SFTP clients.

[2017-09-08 18:49] ed-g commented on #35
@BenFields724 can you get access to a windows machine and experiment with configuring PuTTY and either WINSCP or FileZilla? When you generate a new key you can send it to me and I'll add authorization for it for tnatool@tna.trilliumtransit.com.

Since it sounds like Srinivas has a final today and we need to have access up and running for both of you before Monday morning.

[2017-09-08 19:27] ed-g commented on #33
Hi did you folks get my message earlier? I need a current copy of the postgresql dump files. Ones in google docs are all more than a year old.

https://github.com/pouyalireza/TNAST_MAVEN/issues/6#issuecomment-327870334

[2017-09-08 19:31] srinivas13794 commented on #33
Ed,
I will upload them onto the drive as soon as they are ready.

Thanks

On Friday, September 8, 2017, Ed Groth <notifications@github.com> wrote:

[2017-09-08 19:53] BenFields724 commented on #35
@ed-g
here is a key for my windows machine
ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAvfNyT6PYkM71gepHpIPK452QuPceqGzMnnOJ9kmAmgF4Wm+IJKqsYkGhAzPdaHR7xIpCVc3YXalzYZ+7fhR6Ovs5Iw8z7TIgiRIa8jLFkQXEwiSrgoy4IALEZa4Jqp/7zWtFif/lJhSFLsYtFeIsEAKgVN2eBEolD0Gx/crfQDOsh5T+osWHAVjV1bCESXVOSf1kMkKVjse69eJa+picVxLffrYPJ9XGvFoBT1yzhSCqkf1CkCj5Pn8BJX9B8sVhZgdhSY/5sKSO39OyZLGhmYLOP5g6OUCNtUcCSWljmixqGBMYWjUyDsBb17ulmI4Tf

[2017-09-08 20:02] ed-g commented on #35
Thanks @BenFields724

I've installed on to server. Would you see if you can login using PuTTY and tranfer files using either WINSCP or FileZilla.

[2017-09-08 20:08] BenFields724 commented on #35
@ed-g  I can connect with FileZilla but Putty is failing to connect. It just says access denied.

[2017-09-08 20:16] ed-g commented on #35
screen shots please

[2017-09-08 20:18] BenFields724 commented on #35
![image](https://user-images.githubusercontent.com/21002354/30229774-1d24ffa8-9498-11e7-9efd-9346ab06b685.png)
![image](https://user-images.githubusercontent.com/21002354/30229794-2de7f7c8-9498-11e7-9dce-c487e8d2592d.png)

[2017-09-08 20:23] ed-g commented on #35
did you configure the putty rsa key login?

See if these howtos help.

https://www.howtoforge.com/how-to-configure-ssh-keys-authentication-with-putty-and-linux-server-in-5-quick-steps

https://www.ibm.com/developerworks/community/blogs/Dougclectica/entry/ssh_key_authentication_with_putty30?lang=en

[2017-09-08 20:23] ed-g commented on #35
https://www.electrictoolbox.com/putty-rsa-dsa-keys/

[2017-09-08 20:33] BenFields724 commented on #35
@ed-g  Success. Had the key in the wrong location. Should have it figured out for SFTP and SSH connections and can get Srinivas' machine setup.

[2017-09-08 20:41] ed-g commented on #35
Great. Thanks for your help with this.

[2017-09-11 18:28] pouyalireza opened #37 "Server URL issue :"
http://tnasoftwaretool.engr.oregonstate.edu:8080/?&n=--&dbindex=8
The trillium server has an extra  TNATool-Webapp.
http://tna.trilliumtransit.com:8080/TNATool-Webapp/?&n=--&dbindex=0

[2017-09-11 18:29] ed-g commented on #37
thanks for filing. can you please include a url from the osu server, and one from trillium server to show how they differ?

[2017-09-11 18:40] ed-g opened #38 "hibernate file. postgres host."
[tnatool@li257-210 TNAtoolAPI-Webapp]$ cat ./src/main/resources/com/model/database/connections/spatial/march17.cfg.xml
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<property name="connection.driver_cla

[2017-09-11 18:40] ed-g commented on #38
Two files with the postgres host.

./src/main/resources/com/model/database/connections/transit/march17.cfg.xml
./src/main/resources/com/model/database/connections/spatial/march17.cfg.xml

[2017-09-11 18:44] ed-g commented on #37
I've updated the INSTALL.sh file to install to the ROOT.war file on tomcat. This might match your configuration at OSU.

[2017-09-11 18:50] ed-g opened #39 "queries api crash, returns 500."
This could be a clue/test for database configuration.

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/queries/transit/menu?day=null&dbindex=0&username=admin

Error:

HTTP Status 500 - Servlet execution threw an exception

type Exception report

message Servlet execution threw an exception

description The server encountered an internal error that prevented it from fulfilling this request.

[2017-09-11 18:52] ed-g commented on #39
Here is the tomcat log.

Sep 11, 2017 6:52:09 PM org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servlet.service() for servlet [Queries] in context with path [] threw exception [Servlet execution threw an exception] with root cause
java.lang.NoClassDefFoundError: Could not initialize class com.webapp.api.Queries
	at sun.reflect.GeneratedConstructorAccessor91.newInstance(Unknown Source

[2017-09-11 18:56] ed-g opened #40 "getDefaultDBIndex crash"
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/modifiers/dbupdate/getDefaultDbIndex

HTTP Status 500 - Servlet execution threw an exception

type Exception report

message Servlet execution threw an exception

description The server encountered an internal error that prevented it from fulfilling this request.

exception

javax.servlet.ServletException: Servlet execution threw an exception

[2017-09-11 19:00] BenFields724 opened #41 "Web.xml servlet mapping"
Do the servlet url mappings need to be updated?

[2017-09-11 19:00] BenFields724 commented on #41
[web.xml.txt](https://github.com/pouyalireza/TNAST_MAVEN/files/1293696/web.xml.txt)

[2017-09-11 19:02] ed-g opened #42 "windows specific code in DbUpdate.java?"
https://github.com/pouyalireza/TNAST_MAVEN/blob/4208e43aa7c8dd1df489ebceb744b29fc07977e9/TNAtoolAPI-Webapp/src/main/java/com/webapp/modifiers/DbUpdate.java#L101

This windows specific code need to be rewritten.

[2017-09-11 19:09] ed-g commented on #41
Hi Ben,

Good question.

I think the file is fine as-is.

There are no references to OSU's server only relative paths.

[code]

[2017-09-11 19:20] ed-g commented on #42
This code pre-dates Srinivas, Ben's involvement in the project.

[2017-09-11 19:22] ed-g commented on #42
From looking at this file more, it appears that while these paths are defined, they might only be referenced in code which is commented out.

[code]

[2017-09-11 19:25] ed-g opened #43 "getVersion crash"
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/modifiers/dbupdate/getVersion

HTTP Status 500 - Servlet execution threw an exception

type Exception report

message Servlet execution threw an exception

description The server encountered an internal error that prevented it from fulfilling this request.

exception

javax.servlet.ServletException: Servlet execution threw an exception
	org.apa

[2017-09-11 19:27] ed-g opened #44 "dbList crash"
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/queries/transit/DBList

HTTP Status 500 - Servlet execution threw an exception

type Exception report

message Servlet execution threw an exception

description The server encountered an internal error that prevented it from fulfilling this request.

exception

javax.servlet.ServletException: Servlet execution threw an exception
	org.apache.tom

[2017-09-11 19:27] ed-g opened #45 "FileUpload 404"
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/FileUpload?getSessionUser=gsu

HTTP Status 404 -

type Status report

message

description The requested resource is not available.
Apache Tomcat/7.0.69

[2017-09-11 19:28] ed-g opened #46 "queries/transit/menu crash: one bus away GTFS hibernate"
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/queries/transit/menu?day=null&dbindex=0&username=admin

HTTP Status 500 - Servlet execution threw an exception

type Exception report

message Servlet execution threw an exception

description The server encountered an internal error that prevented it from fulfilling this request.

exception

javax.servlet.ServletException: Servlet execution th

[2017-09-11 19:32] ed-g commented on #37
@pouyalireza good work spotting this. You saved me many hours of debugging.

[2017-09-11 19:32] #37 closed

[2017-09-11 19:41] ed-g opened #47 "dbInf.csv (note Inf not Info), is this a duplicate?"
Hi @BenFields724 @srinivas13794

While looking for db configuration, found this file:

src/main/webapp/resources/admin/dbInf.csv

https://github.com/pouyalireza/TNAST_MAVEN/blob/master/TNAtoolAPI-Webapp/src/main/webapp/resources/admin/dbInf.csv

Is this the same as dbInfo.csv? Is this file needed in this location or can we remove it?

[2017-09-11 19:43] ed-g opened #48 "add logging for java."
eclipse console has a log.

[2017-09-11 19:43] ed-g commented on #48
Please add a screen shot of eclipse console, or link to docs. I can see about enabling this on the server.

[2017-09-11 19:44] ed-g commented on #48
You also mentioned break points. I've seen reference to eclipse debugging through tomcat -- let me know which debugger tool you're using (and the version if one is available).

[2017-09-11 19:47] ed-g commented on #48
We may be able to add more debugging logs in the main tomcat log. No idea if this guide is still current but somewhere to start.

https://www.mulesoft.com/tcat/tomcat-logging

[2017-09-11 19:54] ed-g commented on #45
We don't understand what's going on here.

Maybe the file is in the wrong place.

[2017-09-11 19:55] ed-g commented on #45
http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/FileUpload

[2017-09-11 19:57] ed-g commented on #45
https://github.com/pouyalireza/TNAST_MAVEN/blob/5317a6e362a857d9c8f6dae2869298f4f3fbabb4/TNAtoolAPI-Webapp/src/main/java/com/webapp/modifiers/FileUpload.java

[2017-09-11 19:57] ed-g commented on #45
Srinivas does not think this is an error with regard to this error.

[2017-09-11 19:58] ed-g commented on #45
There is no place you upload a file to the main map interface. What is the user name you are using. There was a playground for custom feed and choosing different feeds. Username and feeds that you selected, were uploaded to the tool. Get the username for that.

[2017-09-11 19:59] srinivas13794 commented on #45
http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/FileUpload?getSessionUser=gsu

On Mon, Sep 11, 2017 at 12:58 PM, Ed Groth <notifications@github.com> wrote:

[2017-09-11 19:59] ed-g commented on #45
Returns username: "admin".

[2017-09-11 20:00] ed-g opened #49 "how is login configured on the tna tool hosted at osu?"
There is an admin login and password. How is this configured?

[2017-09-11 20:01] pouyalireza commented on #46
http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/queries/transit/menu?day=null&dbindex=0&username=admin

[2017-09-11 20:03] ed-g commented on #46
The corresponding link on osu server works.

[code]

[2017-09-11 20:03] ed-g commented on #46
Srinivas will contact the person who wrote the code. One of three people.

[2017-09-11 20:05] ed-g commented on #49
Asking since I tried the same user and password on the trillium instance, and login failed.

[2017-09-11 20:07] ed-g commented on #38
@BenFields724 if you've fixed these files you can close this issue.

[2017-09-11 21:43] ed-g opened #50 "broken links in dbInfo.csv, "summer16" should be "winter16""
dbInfo file from tna.trilliumtransit.com. This is the file that we modified this morning.

See a reference to summer15.cfg.xml, but only winter16.cfg.xml exists on the server. This looks like a typo.

FYI if either of you uploaded this file, you'll want to correct your version as well.

[code]

I've replaced with:

[code]

[2017-09-11 22:22] ed-g opened #51 "src/main/java/com/model/database/Databases.java appears to be reading database parameters out of the source directory"
[code]

Is this really what's happening?

[2017-09-11 22:23] ed-g commented on #51
Add logging to get the file name and see.

[2017-09-11 22:25] ed-g opened #52 "class cannot be instantiated com.webapp.api.Queries"
"Could not initialize class com.webapp.api.Queries" is a common error for a number of TNA tool locations.

Here's an example error message.

[code]

[2017-09-11 22:27] ed-g commented on #52
Source in

src/main/java/com/webapp/api/Queries.java

https://github.com/pouyalireza/TNAST_MAVEN/blob/5317a6e362a857d9c8f6dae2869298f4f3fbabb4/TNAtoolAPI-Webapp/src/main/java/com/webapp/api/Queries.java

I think it could be crashing after the import of

import com.model.database.Databases;

If Databases is failing to load a csv file like i think it is.

[2017-09-11 22:28] ed-g commented on #50
@srinivas13794 @BenFields724 can you check your copies of dbInfo.csv and either

* fix them to match mine
* or if my file above looks wrong suggest a fix

Then when it's resolved either way **close this ticket**.

Thanks!

[2017-09-11 22:31] ed-g commented on #42
@BenFields724 @srinivas13794 would one of you please remove these windows paths? They don't appear to be used.

[2017-09-11 22:31] srinivas13794 commented on #50
Ed,

I just changed this and uploaded the new files.

Thanks

On Mon, Sep 11, 2017 at 3:28 PM, Ed Groth <notifications@github.com> wrote:

[2017-09-11 22:43] pouyalireza commented on #48
![image](https://user-images.githubusercontent.com/12384084/30300135-e27dfc2a-9707-11e7-81e0-89fbd0947259.png)
This is an example of our logging in eclipse

[2017-09-11 22:45] antrim commented on #2
I received and accepted the collaborator invitation.
"You now have push access to the pouyalireza/TNAST_MAVEN repository."

[2017-09-11 22:46] ed-g commented on #50
Thanks Srinivas!

Not a big deal -- but it's important to close issues like this one when they are completed, so we know what is done and what isn't.

[2017-09-11 22:46] #50 closed

[2017-09-11 22:46] #35 closed

[2017-09-11 22:47] ed-g commented on #49
This is high priority since some url's are returning an error Trillium's server where OSU server gives "admin" user name. Lack of a login may be causing a crash.

[2017-09-11 22:50] ed-g commented on #38
@BenFields724 a reminder, to close any issue when it's finished.

Otherwise we won't know which problems are solved and which remain open.

[2017-09-11 23:01] ed-g commented on #51
It doesn't appear there is any logging library used by TNA tool. Google uses logging but I don't know if that's connected to anything.

https://github.com/pouyalireza/TNAST_MAVEN/search?l=Java&q=log&type=&utf8=%E2%9C%93

I'm using System.err.println as does Hutil.java

https://github.com/pouyalireza/TNAST_MAVEN/blob/8eaa238e5d70e20c23558e470c882e3635587352/TNAtoolAPI-Webapp/src/main/java/com/model

[2017-09-11 23:08] ed-g commented on #48
@pouyalireza thanks this is a great starting place for me. I might ask you for more details.

Am I speaking with Pouya, or Srinivas logged in as Pouya's github user?

[2017-09-11 23:17] ed-g commented on #51
It looks tna is attempting to load csv from a non-existent file.

Attempting to load dbInfo.csv from: /var/lib/tomcat/webapps/ROOT/WEB-INF/classes/com/model/database/Databases.class../../src/main/resources/admin/resources/dbInfo.csv

We'll need to correct this csv location to work on both osu's server and Trilliums.

[2017-09-11 23:17] ed-g commented on #51
@srinivas13794 @BenFields724

Would one of you please re-compile and redeploy OSU's copy of the tna tool and look for the log entry with

Attempting to load dbInfo.csv from

and paste the output as a comment to this issue?

[2017-09-11 23:18] ed-g commented on #51
I can fix this on my server but I don't want to break yours at the same time.

[2017-09-11 23:31] ed-g commented on #44
Fixed. Problem was #51

[2017-09-11 23:31] #44 closed

[2017-09-11 23:33] ed-g commented on #40
Crash fixed by fixing #51

New error:

Now returns 200, but xml contains no data:

[code]

[2017-09-11 23:35] ed-g opened #53 "modifiers/dbupdate/readDBinfo gives xml content-type, but returns csv data."
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/modifiers/dbupdate/readDBinfo

[2017-09-11 23:36] ed-g commented on #53
[code]

Note there also do not appear to be newlines between csv lines. No idea if this is a DOS<->Unix translation bug or it might be OK.

[2017-09-11 23:40] ed-g commented on #53
OSU server also gives no newlines between csv files so this might be OK.

[code]

[2017-09-11 23:41] ed-g commented on #53
Ah, the `#$#` appears to be a record separator.

[2017-09-11 23:42] ed-g commented on #51
Workaround via

https://github.com/pouyalireza/TNAST_MAVEN/commit/2e7329e73500598c36c123b4e015ea3d05fbea67

[2017-09-11 23:44] ed-g commented on #43
Fixed via #51

Now returns:

[code]

Is this actually an error, or just the way the software returns a version number?

[2017-09-11 23:45] ed-g commented on #43
The OSU tool returns exactly the same xml, so this might not be an error.

http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/modifiers/dbupdate/getVersion

[2017-09-11 23:53] ed-g commented on #43
yeah, from source API returns are via the PDBerror class. `^M` below is just CR from DOS format files.

[code]

[2017-09-11 23:57] ed-g commented on #40
Nope, that's OK. As seen in #43 that's just how the API returns its values. `1` is the highest Database index out of the options `[0, 1]`.

[2017-09-11 23:58] #40 closed

[2017-09-11 23:58] #43 closed

[2017-09-12 00:00] ed-g commented on #45
Started working. May be fixed (along with many other issues) by #51

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/FileUpload?getSessionUser=gsu

{"username":"admin"}

[2017-09-12 00:02] ed-g commented on #46
This URL still gives an error, but it has changed. Here is the new error:

[2017-09-12 00:09] ed-g commented on #46
Looks like this is the "hibernate" model from one bus away's GTFS loader.

Maybe there's an xml file somewhere we need to configure.

[2017-09-12 00:13] pouyalireza commented on #48
@ed-g  srinivas @srinivas13794 here.

[2017-09-12 00:18] ed-g commented on #46
Yes, it's ./src/main/webapp/resources/admin/gtfsDb.cfg.xml

[2017-09-12 00:18] BenFields724 commented on #41
@ed-g Has the state of this file been confirmed. Does it in fact need new mappings or did this get taken care of in on of the other fixes. Looks like you have been working on a number of issues since this morning.

[2017-09-12 00:25] ed-g commented on #41
@BenFields724

Thanks for checking back!

I'd like to hear from the person on OSU's team who suggested that we're running into servelet configuration issues and they can be resolved by editing the web.xml file.

Given that the software is in Java and thus configured by dozens of xml files, I wonder if they meant that we needed to edit xml files in general, which we have been.

But rather than assu

[2017-09-12 00:25] BenFields724 commented on #42
fixed. commit d3cb3523bb4bb04a812ad01f6bda10a36416fd4c

[2017-09-12 00:29] ed-g commented on #48
Note to self. Running tomcat from the command line appears to give more logging information. We should check about modifying the tomcat unit file to log stdout and stderr to a file under /var/log/tomcat -- it's strange that it's not already configured in this way. Check RHEL or Centos docs to see if other have done this so we don't reinvent the wheel.

Those files will be large, make sure they're

[2017-09-12 00:30] #45 closed

[2017-09-12 00:31] ed-g commented on #39
Duplicate for https://github.com/pouyalireza/TNAST_MAVEN/issues/46

[2017-09-12 00:31] #39 closed

[2017-09-12 00:33] ed-g commented on #42
Thanks @BenFields724

Looks good!

Would you go ahead a click the "Close Issue" button at the bottom of this page. :smile:

[2017-09-12 00:37] BenFields724 commented on #47
@ed-g I noticed this as well a little while back. On my local instance I have this file as well. I deleted it and it seems to have no impact on the launching of the tool. I cannot be sure it is used for another feature of the tool though.

[2017-09-12 00:37] ed-g commented on #46
@srinivas13794 @BenFields724

Would one of you send me a copy of your gtfsDb.cfg.xml file?

I'd like to see what a working version looks like.

[2017-09-12 00:39] BenFields724 commented on #49
@ed-g @srinivas13794 I believe the only login protected features are the admin interface and connections to the databases which I think you have...?

[2017-09-12 00:39] #42 closed

[2017-09-12 00:39] ed-g commented on #52
I think this is fixed by #51 if not we can re-open the issue.

[2017-09-12 00:42] BenFields724 commented on #46
@ed-g  here is the one I have for my local instance.
[gtfsDb.cfg.xml.txt](https://github.com/pouyalireza/TNAST_MAVEN/files/1294409/gtfsDb.cfg.xml.txt)

[2017-09-12 00:43] ed-g commented on #49
@BenFields724

Good question, as far as I know, yes those are the only features which require login.

I have logins from the **client** side.

What I'm looking for is how the admin password was set on the **server** side.

That way I can configure Trillium's tna server the same way as OSU's.

Maybe it's hard-coded in the source somewhere, or it could be an xml file, or it could be a config file on

[2017-09-12 00:44] ed-g opened #54 "hibernate files loading from nonexistent file names"
Looks very similar to the problem we were seeing with dbInfo.csv.

[2017-09-12 00:46] ed-g commented on #49
The test case is

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/admin

I've used the same login and password as for OSU, but the login does not succeed. So the question is, is that a login failure, or another kind of failure for example the database. First step is to check the server config to see if login is the same as at OSU.

[2017-09-12 00:54] srinivas13794 commented on #49
@ed-g  The password protection is only for the admin interface and does not relate errors.I think it would best to about this during tomorrow's call.
You need to add this to the tomcat-users.xml under tomcat users I will send them to you via email.

[2017-09-12 01:12] srinivas13794 commented on #33
@ed-g an invite for a box folder containing all the backups for all databases has been sent to you.Please let me know if you did received it.

[2017-09-12 01:19] ed-g commented on #49
Great I've added.

I really appreciate your researching this.

[2017-09-12 01:31] ed-g commented on #49
Admin page now loads for me and it shows list of databases.

[2017-09-12 01:31] #49 closed

[2017-09-12 01:33] ed-g commented on #33
@srinivas13794 thank you! I have received the files.

[2017-09-12 01:38] ed-g commented on #47
Ok great thanks for checking, and resolving the mystery.

I'll bet it's either a "save as" typo, or intended as some kind of template for the active dbInfo.csv config file. In either case we don't need it.

[2017-09-12 01:38] #47 closed

[2017-09-12 01:41] ed-g commented on #46
@BenFields724 thank you for checking.

It looks the same as mine so I'm guessing that the username and password do not need to be provided here.

[code]

[2017-09-12 02:13] ed-g commented on #54
This code fragment looks promising for finding files under the tomcat extraction directory.

[code]

[2017-09-12 02:13] #52 closed

[2017-09-12 02:15] ed-g commented on #51
The strange thing is it appears that TNA tool expects to be able to modify the CSV file from the source directory, at run time. In general this will not be possible and is not a good idea in any case.

We should move this CSV file to a configurable location which the tomcat server will have access to, for example /etc/tnatool on Linux/Mac or c:/tnatool on Window

[2017-09-12 02:29] ed-g commented on #54
What's needed here is a way to abstract the location where tna loads its configuration files. In an ideal world that would be a read/write location such as /etc/tnatool or c:/tnatool

[2017-09-12 02:29] #38 closed

[2017-09-12 02:31] ed-g commented on #33
Closing, all but one of these links are working now.

http://127.0.0.1:8080/TNAtoolAPI-Webapp/queries/transit/menu?day=null&dbindex=-1&username=admin

And we have a separate ticket #54 open for that one.

[2017-09-12 02:31] #33 closed

[2017-09-12 02:32] ed-g commented on #53
This is strange but likely not a bug. Closing.

[2017-09-12 02:32] #53 closed

[2017-09-12 17:53] srinivas13794 commented on #41
@ed-g  Basically the problem with the web.xml file that was suggested was the configuration of the url in the file since we removed the TNA-Webapp from the main url.But it seems that you have fixed the errors pertaining to the mapping of most of the servlets,so this might not be an issue.

[2017-09-12 17:54] BenFields724 commented on #41
@ed-g We had previously hard coded two of the errors that were showing up, but after switching back to the original code just now the error no longer shows up. Seems one of the fixes yesterday solved this problem. There seems to be one issue with one of the queries running, which we are trying to figure out now.

[2017-09-12 17:59] ed-g commented on #41
@BenFields724

You mean https://github.com/pouyalireza/TNAST_MAVEN/issues/46 or a different query.

If different, please paste a link to the query you are referring to.

[2017-09-12 18:00] ed-g commented on #41
@BenFields724 would you please link to the hard code fix for the errors? Was this a git commit or did you edit a file directly on the server?

[2017-09-12 18:05] ed-g commented on #41
@srinivas13794 Ok that makes sense. That would be the other way to correct the path besides installing to a ROOT.war file. I think we can close this issue.

[2017-09-12 18:12] ed-g commented on #41
Ben: yes #46

[2017-09-12 18:24] BenFields724 commented on #41
@ed-g It was hard coded onto the server. Lines 21 and 64 of client.js.

[2017-09-12 18:27] #41 closed

[2017-09-12 18:29] ed-g commented on #54
The spatial xml file fragment is related to spatialConfigPaths

[2017-09-12 18:32] ed-g commented on #51
Trick to finding log message was to find a break point so that other messages didn't hide it.

[2017-09-12 18:32] srinivas13794 commented on #51
Attempting to load dbInfo.csv from: /C:/Users/tnatool/git/TNAST_MAVEN_PRODUCTION/TNAtoolAPI-Webapp/target/classes/../../src/main/resources/admin/resources/dbInfo.csv

[2017-09-12 18:35] ed-g commented on #51
Maybe we can move window configuration to `/C:/Users/tnatool/config` and linux/mac configuration to `/etc/tnatool`

[2017-09-12 19:49] ed-g commented on #54
[code]

[2017-09-12 20:18] ed-g commented on #54
From tomcat stderr logs.

HibernateGtfsFactory::createHibernateGtfsFactory, resource is: /var/lib/tomcat/webapps/ROOT/WEB-INF/classes/com/model/database/Databases.class../../src/main/resources/com/model/database/connections/transit/summer16.cfg.xml
131 [http-bio-8080-exec-21] INFO org.hibernate.cfg.Configuration - configuring from file: summer16.cfg.xml

[2017-09-12 21:07] ed-g commented on #51
Configuration Directory is set by the java property `edu.oregonstate.tnatool.ConfigurationDirectory` and if that's not available we fall back to

[code]

[2017-09-12 21:15] ed-g commented on #51
Config directory should be readable and writeable by both tnatool and tomcat, and set-gid so that any files created will be readable by tomcat. Some files should also be group-writable so that tomcat can edit the configuration.

[root@li257-210 home]# mkdir /etc/tnatool
[root@li257-210 home]# chown tnatool:tomcat /etc/tnatool/
[root@li257-210 tnatool]# chmod 4775 /etc/tnatool

[2017-09-12 21:30] ed-g commented on #54
Fixed by https://github.com/pouyalireza/TNAST_MAVEN/commit/ca053f53ceff88434f8cbbd03afce44b3af076e2

[2017-09-12 21:30] #54 closed

[2017-09-12 21:34] ed-g commented on #54
@BenFields724  @srinivas13794

Note this means that xml config files for specific databases now live under:

`/etc/tnatool/com/model/database/connections/{spatial,transit}`

On tna.trilliumtransit.com.

The versions which were in `/home/tnatool/src/TNAST_MAVEN/TNAtoolAPI-Webapp/src/main/resources/com/model/database/connections/` no longer have any effect.

I'm going to remove those shortly. Actual

[2017-09-12 22:41] #51 closed

[2017-09-12 22:44] ed-g commented on #46
Now we get a third new error:

[2017-09-12 22:49] ed-g commented on #46
See if we need to have the hibernate files in the same directory as the other xml files??

Running as tnatool user.

[code]

[2017-09-12 22:52] ed-g commented on #46
The mapping is specified within each xml file. For instance this is spatial march17.xml

[code]

[2017-09-12 22:57] ed-g commented on #46
The mapping.hbm.xml file definitely exists:

./target/classes/com/model/database/connections/spatial/mapping/mapping.hbm.xml

[2017-09-12 23:05] ed-g commented on #46
This was a broken config file.  transit summer16.xml had settings from spatial summer16.xml and thus did not have GTFS queries defined by the transit hibernate mappings.

[2017-09-12 23:05] #46 closed

[2017-09-12 23:11] PPaulsonOregonDOT commented on #32
@pouyalireza This issue remains in the tool. When you hit the submit button after selecting a date in the date selector, the report refreshes with current day selected, which has results in reports not changing based on date selection.

[2017-09-12 23:30] ed-g opened #55 "please test tna.trilliumtransit.com and see what breaks"
Hi All,

Would you please spend 5 minutes on: http://tna.trilliumtransit.com:8080/

To see if you can find bugs that only show up on Trillium's hosted version?

Note I'm still working on admin pages, I would expect to problems here (although I'd still like to hear about them): http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/admin

@antrim @pouyalireza @tnatool @BenFields724 @PPaulsonOregonDO

[2017-09-12 23:34] ed-g commented on #36
Closing, Eclipse doesn't do anything for running the server that Tomcat doesn't do.

[2017-09-12 23:34] #36 closed

[2017-09-12 23:41] ed-g commented on #48
https://access.redhat.com/solutions/2324691

[2017-09-12 23:47] ed-g commented on #48
Looks like everything is "managed" by systemd. Tomcat logs are available via.

journalctl -u tomcat.service

However the tnatool user does not get any output when running that command.

[2017-09-12 23:56] PPaulsonOregonDOT commented on #55
@ed-g is two databases currently in the trillium tool vs. the quarterly updates in the OSU tool an expected difference between the tool versions?

[2017-09-12 23:59] ed-g commented on #55
@PPaulsonOregonDOT yes there are only two databases loaded currently.

But if there is a particular database you want to test I can load it up.

[2017-09-13 00:16] ed-g commented on #48
Looks like you cannot use `>>` redirection from systemd unit files.

This solution helped.

https://stackoverflow.com/questions/37585758/how-to-redirect-output-of-systemd-service-to-a-file

But here is the magic:

rsyslog.conf
[code]

And custom modified version of tomcat service file in /etc/systemd/system/tomcat.service:

[code]

Note SyslogFacility matches that in rsyslog.conf

[2017-09-13 00:16] #48 closed

[2017-09-13 00:17] ed-g commented on #48
@BenFields724 @srinivas13794 you can now find tnatool output as /var/log/tomcat/catalina.out

Use `tail -f` to get a real time monitoring.

[2017-09-13 00:20] #2 closed

[2017-09-13 00:21] #16 closed

[2017-09-13 00:27] ed-g commented on #9
Once the database configuration has solidified, add documentation.

Main difference is I'm moving all the xml config files whose data will change depending on the installation to a configuration directory, suggested `/etc/tnatool` on Linux/mac and `c:/Users/tnatool/config` on Windows, rather than the source directory.

Configuration is via a Java property set via tomcat, `edu.oregonstate.tnatool.C

[2017-09-14 17:49] BenFields724 commented on #55
Main interface loads correctly.
![image](https://user-images.githubusercontent.com/21002354/30445276-54672922-993a-11e7-906b-d4e2bd669814.png)

URL-http://tna.trilliumtransit.com:8080/?&n=--&dbindex=1

[2017-09-14 17:54] BenFields724 commented on #55
Admin interface loading correctly. Wasn't loading the other day but it might have been the wrong URL. Correct URL -http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/admin

![image](https://user-images.githubusercontent.com/21002354/30445506-0237a720-993b-11e7-978f-dfeefbbaa03a.png)

[2017-09-14 17:59] ed-g commented on #55
Thanks @BenFields724

[2017-09-14 18:01] ed-g commented on #55
Would someone please check a "slow" report with a stopwatch, to see how performance compares between OSU server and Trillium server? Include the URL's for both reports, and the timing information. Here's an example table you can copy and populate.

query url | time elapsed | test date and time
--- | -- | --
http://tna.... | 1:23.45 | 2017-09-14

[2017-09-14 18:06] ed-g opened #56 "create xml config for may17 on tna.trilliumtransit"

[2017-09-14 18:07] ed-g opened #57 "upload database backups to tna.trilliumtransit"
Go ahead and **comment on this ticket** when each file is ready to be loaded into Postgres.

Thanks!

[2017-09-14 18:28] PPaulsonOregonDOT commented on #55
I was expecting this to be a slower report, but these were my results:
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/stopreport.html?&agency=456&n=inr&x=0.25&dbindex=1&popYear=2010&geotype=-1&geoid=null&areaid=null&type=null&route=null&nav=stateS-agencyS&rc=-1&stime=0:00&etime=23:59
12.35 seconds  | 12.35 | 2017-09-14
http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/stopr

[2017-09-14 18:28] srinivas13794 commented on #57
april17,fall16,winter17 are ready to be loaded into postgres

[2017-09-14 18:38] ed-g commented on #56
@srinivas13794 @BenFields724 please comment and close this issue when this is ready.

[2017-09-14 18:39] BenFields724 commented on #56
@ed-g Configuration files for all databases have been uploaded to the server and the dbinfo file for database connections has been updated to reflect the new database files.

[2017-09-14 18:39] #56 closed

[2017-09-14 18:48] ed-g commented on #57
Can you please make sure to upload them under the names that will be used.

So winter16 should be winter16.backup **NOT** winter16new.backup unless you actually want the database called `winter16new`.

I've been renaming files. Can you rename those which I haven't gotten yet?

Thanks

[2017-09-14 18:52] srinivas13794 commented on #57
@ed-g All the databases are uploaded now and have also been renamed

[2017-09-14 18:53] ed-g commented on #57
Can you give me a list of those are new since your last comment: https://github.com/pouyalireza/TNAST_MAVEN/issues/57#issuecomment-329569525

And I will restore them.

[2017-09-14 18:54] PPaulsonOregonDOT commented on #55
http://tnasoftwaretool.engr.oregonstate.edu:8080/TNAtoolAPI-Webapp/stopreport.html?&agency=TRIMET&n=inr&x=0.25&dbindex=6&popYear=2010&geotype=-1&geoid=null&areaid=null&type=null&route=null&nav=stateS-agencyS&rc=-1&stime=0:00&etime=23:59 | 1:23.63 | 2017/09/14

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/stopreport.html?&agency=TRIMET&n=inr&x=0.25&dbindex=1&popYear=2010&geotype=-1&geoid=n

[2017-09-14 18:55] srinivas13794 commented on #57
@ed-g The last 3 databases I uploaded were:Fall15,spring16,Winter16.You should have a total of 9 databases.

[2017-09-14 18:55] ed-g opened #58 "admin page breaks if dbInfo.csv refers to nonexistent databases"
That's sort of OK. The problem is we don't even get an error message so it's hard to diagnose which database load failed.

Add a logging message when dbInfo.csv is loaded and the first database connection is attempted, preferably only when there is an error.

System.err.format() function can be used for this.

[2017-09-14 18:58] ed-g commented on #57
Great. Those are in the process of being restored.

[2017-09-14 19:01] srinivas13794 commented on #58
@ed-g Ideally all new databases should be created through the admin interface . Through the process of creation, the database is added to postgres and also to the dbinfo.csv file.So moving forward, the problem of a non existent database should not arise as creation,deletion and modification of databases should take place through the admin interface

[2017-09-14 19:03] ed-g commented on #58
I agree with regard to the proper work flow.

The problem is if anything goes wrong is is exceedingly difficult to diagnose a problem as we have seen. So a little logging message goes a long way.

[2017-09-14 19:05] ed-g opened #59 "Admin interface breaks depending on "ordering" of databases in dbInfo.csv"
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/admin

It was working before we restored the databases.

Can you trial and error to see if you can get it working again.

[2017-09-14 19:08] ed-g commented on #59
This is the full log.

==> /var/log/tomcat/catalina.out <==

==> /var/log/tomcat/localhost.2017-09-14.log <==

FINE:  Disabling the response for further output

[2017-09-14 19:08] ed-g commented on #59
By the way you can see this via `tail -f /var/log/tomcat/*`

[2017-09-14 19:11] ed-g commented on #59
We're also getting this log message, could be related.

[2017-09-14 19:16] ed-g commented on #59
@BenFields724 @srinivas13794 any ideas?

[2017-09-14 19:23] ed-g commented on #59
Now the admin interface loads but doesn't show any databases. Did either of you change anything?

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/admin

![screenshot from 2017-09-14 12-22-32](https://user-images.githubusercontent.com/2495118/30451027-76363978-9947-11e7-9a45-3e1d7fb16716.png)

[2017-09-14 19:26] srinivas13794 commented on #59
We repackaged and re-ran the install.sh file

On Thu, Sep 14, 2017 at 12:23 PM, Ed Groth <notifications@github.com> wrote:

[2017-09-14 19:27] BenFields724 commented on #59
@ed-g We included all the config files and updated dbinfo. My guess is that one of the connections is bad.

[2017-09-14 19:29] ed-g commented on #59
Ok can you binary search.

Remove half the connections, see if it breaks, if not try the other half. Recurse.

[2017-09-14 19:30] ed-g commented on #59
I believe that the xml files are only loaded on demand. So you shouldn't need to remove them to test. Only the dbInfo.csv will need to change.

[2017-09-14 19:31] BenFields724 commented on #59
@ed-g I went back to the old Dbinfo file with the two databases and it is all loading again. We will try to find what connection is causing the error.

[2017-09-14 19:41] ed-g commented on #59
I've added a script RESTART-TOMCAT.sh which you can use to force a web server restart. Same location as the other scripts.

[2017-09-14 19:41] ed-g commented on #59
You might want to run that after each dbInfo modification.

[2017-09-14 19:47] BenFields724 commented on #59
@ed-g I also noticed that you still have the old dbinfo file in the old location. Is this still referenced or is only the one in etc/ used?

[2017-09-14 19:51] ed-g commented on #59
Only the one in /etc/ should be used.

[2017-09-14 19:52] ed-g commented on #59
It's possible that some code somewhere is trying to use the version under the source directory -- it's a bit of a rats nest. I'll make a symlink from there to the version in etc for the time being.

[2017-09-14 20:01] ed-g commented on #59
I'm seeing all 9 databases now. Are you folks seeing that as well?

[2017-09-14 20:09] ed-g commented on #4
Needed for reporting document. Was hoping to have it in place by 15th! But in next week can survive that.

[2017-09-14 20:19] ed-g commented on #32
Phillip

Srinivas

[2017-09-14 20:21] ed-g commented on #59
@srinivas13794 @BenFields724

This looks fixed to me?
* If it is, please close the ticket.
* If not, can you say what remains to be done.

Thanks for all your help with this!

[2017-09-14 20:23] BenFields724 commented on #59
@ed-g Yes we were able to get all databases uploaded onto the server, but in a different order which seems strange. After all 9 databases worked we tried to go back to the original with a different ordering and it crashed. Not sure why this would be happening.

[2017-09-14 20:24] ed-g commented on #59
Can you upload the working file as dbInfo.csv.working.csv and broken file as dbInfo.csv.correct-order-but-broken.csv

[2017-09-14 20:25] ed-g commented on #59
To the directory under /etc next to dbInfo.csv

[2017-09-14 20:27] ed-g commented on #59
Just for clarification.

When you say "in a different order" are you referring to the id numbers 0,1,2,...8 or to their display order in the admin page, or to something else?

[2017-09-14 20:34] BenFields724 commented on #59
@ed-g I will upload the file that was not working, but after rearranging to the correct order with the file that was working it appears to be fine now. All databases are loaded in the right order and names. Seems this is fixed.

[2017-09-14 20:48] ed-g commented on #59
Ordering shouldn't matter, so if it does that means there's a bug in the software.

Can you please explain what you mean by "correct order".

[2017-09-14 20:49] ed-g opened #60 "development and bug fixes"

[2017-09-14 20:55] srinivas13794 commented on #59
By correct order we meant Chronological order of databases.

On Thu, Sep 14, 2017 at 1:48 PM, Ed Groth <notifications@github.com> wrote:

[2017-09-14 21:31] ed-g commented on #59
I don't see the broken file. Where did you put it.

[2017-09-14 21:38] ed-g commented on #59
@BenFields724 @srinivas13794

I really appreciate all your help and I'm glad we're working on this project together. For the most part I'm really happy with your work.

But there has been a number of times where I've asked for something simple and had to repeat myself multiple times. This wastes my time and throws us off schedule.

**When I ask for something specific like a file copied to a partic

[2017-09-14 22:02] ed-g opened #61 "summer15 refered to in dbInfo.csv file but backup is not available in ~/databases"
Would you upload summer15 backup file?

[2017-09-14 22:05] ed-g opened #62 "winter16 backup file loaded but no configuration in /etc/tnatool"
Would you add configuration entries for winter16 under /etc/tnatool

[2017-09-14 22:07] ed-g commented on #59
I'll bet this is related to #61

[2017-09-14 22:08] ed-g commented on #61
Here's the line from dbInfo.csv:

Note it's labeled Winter 2016 but refers to summer 15. Go ahead and make it consistent one way or the other. So #62 is the same problem as this one.

[code]

[2017-09-14 22:14] srinivas13794 commented on #62
@ed-g there seems to be both transit and spatial configuration files for winter 2016 apart from the entry in dbinfo.csv file.Let me know if you were referring to something else

[2017-09-14 22:18] ed-g commented on #62
Not in dbInfo.

 grep winter /etc/tnatool/admin/resources/dbInfo.csv

[code]

[2017-09-14 22:23] srinivas13794 commented on #62
@ed-g  There seems to be some sort of confusion with regards this file.As you can see that the databases in this file are labelled as Mar-17,Apr-17,May-17, but the databases in the tool(Mao interface) that show up are labelled March 2017,May 2017 and April 2017.This might be a previous version of the file.

[2017-09-14 22:26] srinivas13794 commented on #59
@ed-g Ben and I have been in and out of various meetings today and haven't been able to respond to your requests earlier because of this .During the process of debugging and uploading the many versions of the Dbinfo.csv  to your server we have misplaced the broken version of the Dbinfo.csv file and are trying to find it.This has caused the delay in uploading the file.We do understand your concerns

[2017-09-14 22:28] srinivas13794 commented on #61
@ed-g The backup of this database is the box folder I shared with you.I will upload it and let you know.

[2017-09-14 22:28] ed-g commented on #62
@srinivas13794 ok interesting. We should investigate more.

The dbInfo.csv file I'm looking at on tna.trilliumtransit.com in /etc/tnatool/admin/resources/dbInfo.csv does have full labels. And these are the same labels I see at http://tna.trilliumtransit.com:8080/?&n=--&dbindex=0 if I click on the "Gear" icon.

[code]

Where are you seeing Mar-17, Apr-17, etc.?

[2017-09-14 22:30] srinivas13794 commented on #62
@ed-g Right the names of these databases should come from the dbinfo.csv file.So under database names in the dbinfo.csv file the names seem to be Mar-17,Apr-17 and May-17.

[2017-09-14 22:30] ed-g commented on #62
Hmm, which dbInfo.csv file are you looking at? The one on the server that I referenced above does not have "Mar-17" etc.

[2017-09-14 22:33] srinivas13794 commented on #62
![image](https://user-images.githubusercontent.com/18296840/30458782-020447e6-9962-11e7-8da4-ba1eed1931d2.png)
This seems to be the content of the dbinfo.csv file I am able to get from your server under /etc/tnatool/admin/resources

[2017-09-14 22:53] ed-g commented on #61
I can grab it from box folder. Thanks!

[2017-09-14 23:30] ed-g commented on #62
Ok that copy is out of date -- the version on the server is different.

Can you browse to the file using WINSCP?

[2017-09-15 00:28] ed-g opened #63 "set up development and production version of Tomcat on tna.trilliumtransit.com"
Debug Tomcat configuration. "production" version isn't showing up.

[2017-09-15 01:14] srinivas13794 commented on #62
@ed-g  I was able to get WINSCP to work and downloaded the file from there.It still has the same content.I think restarting the server would change the database names.Let me know if I can restart it.

[2017-09-15 01:29] #61 closed

[2017-09-15 01:31] ed-g commented on #62
@srinivas13794 yes absolutely feel free to restart.

When you say it has the same content, do you mean it has the file I was seeing or the one you were seeing?

[2017-09-15 01:33] ed-g commented on #62
For this line in particular, one some columns refer winter16 and others have summer15.

I'm editing the dbInfo file on the server to separate these entries into two.

1,Winter 2016,com/model/database/connections/spatial/summer15.cfg.xml,com/model/database/connections/transit/summer15.cfg.xml,jdbc:postgresql://localhost:5432/winter16,postgres,postgres%OSU237ie,com/model/database/connections/spatial

[2017-09-15 01:42] srinivas13794 commented on #62
@ed-g it is the same as the screenshot I sent you.Let me restart the server and see what happens.

[2017-09-15 01:47] srinivas13794 commented on #62
@ed-g I restarted the server there seems to be no effect on the database names.Can you send me the latest version of the dbinfo.csv you have.

[2017-09-15 02:02] ed-g commented on #62
[code]
[code]

[2017-09-15 02:03] ed-g commented on #62
One note, the file is `dbInfo.csv` not `dbinfo.csv`. Upper versus lower case i.

[2017-09-15 02:04] ed-g commented on #62
I'm pretty sure there's something wrong with the file transfer via WINSCP.

Don't worry about it. I'll take care of editing configuration files from here on out.

I appreciate your help thus far.

[2017-09-15 02:04] #62 closed

[2017-09-15 02:05] srinivas13794 commented on #62
@ed-g  Thanks !!

[2017-09-15 02:32] ed-g commented on #63
Strangely, it is OK with "webapps" directory but not "webapps-production" directory.

[2017-09-15 02:42] ed-g commented on #63
If I include a full path this works.

[2017-09-15 02:43] ed-g commented on #63
Next up, forward port 80 to the web app.

[2017-09-15 03:03] ed-g commented on #63
Disabled firewalld and added iptables back since this is a one-liner.

https://serverfault.com/questions/626521/centos-7-save-iptables-settings#626524

[2017-09-15 03:10] ed-g commented on #63
To set rule: `iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 80 -j REDIRECT --to-port 7080`

To view rules: `iptables -t nat -L`

Then save settings via `service iptables save`

[2017-09-15 03:11] ed-g commented on #63
Production:

http://tna.trilliumtransit.com:80 and http://tna.trilliumtransit.com:7080 (same exact web app)

Development:

http://tna.trilliumtransit.com:8080

[2017-09-15 03:11] #63 closed

[2017-09-15 03:17] ed-g commented on #32
What's the full URL to to "Baker County (County Report->Rural Stops)"?

I started here via "(toolbar icon of paper page)" -> "Counties Reports"

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/GeoCountiesReport.html?&dbindex=9&popYear=2010

Then clicked link GEOID "41001" on the leftmost column and got to here:

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/GeoCountiesXreport.html?&a

[2017-09-15 03:26] ed-g commented on #32
addDate('2017-08-22') in js console adds to selection list.

[2017-09-15 03:39] ed-g commented on #32
`$('#datepicker').multiDatesPicker({ 'addDates': [ new Date('2017-09-20') ] })` will add a date to the date picker, but does not add to list of dates to left of calendar.

[2017-09-15 03:50] srinivas13794 commented on #32
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/stopreport.html?&areaid=41001&type=0&x=0.25&n=ior&dbindex=9&popYear=2010&geotype=-1&geoid=null&rc=1&stime=0:00&etime=23:59&nav=stateS-countyS

Here is the URL for baker county rural stops
On Friday, September 15, 2017, Ed Groth <notifications@github.com> wrote:

[2017-09-15 03:52] ed-g commented on #32
Ok great thanks!

[2017-09-15 03:57] srinivas13794 commented on #32
I have been looking at this bug there seems to be a problem with the query
that runs this report.Does not increase the number of trips when more than
a day is selected

On Friday, September 15, 2017, Ed Groth <notifications@github.com> wrote:

[2017-09-15 03:58] ed-g commented on #32
Here is a test URL with multiple dates selected.

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/stopreport.html?&areaid=41001&type=0&x=0.25&n=ilrimrior&dbindex=9&popYear=2010&geotype=-1&geoid=null&rc=1&stime=0:00&etime=23:59&nav=stateS-countyS

[2017-09-15 03:58] ed-g commented on #32
Side note, an issue with the page I referenced earlier http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/GeoCountiesXreport.html does not seem to modify the n=.... parameter from javascript before re-submitting the form.

[2017-09-15 04:02] srinivas13794 commented on #34
@ed-g Reason for undefined visit count is that the agencyid is used to fetch visit counts instead of the defaultid and the reason for the visit count to show even after expiry is that the visit count order is changed i.e. the association of visit count to stopid are not right.

[2017-09-15 21:03] ed-g commented on #13
When agencies are "turned off" for reporting purposes is it OK if they are turned off for _every_ user of the tool at that time?

If so then one possibility is to create a filtered version of each table and run queries on those -- the query text would not need to change only the table it is querying against.

If we want each user to have their own "view" of the data a similar process is possible b

[2017-09-15 21:08] ed-g commented on #34
I loaded the key transit hubs report but I don't see a way to expand to Portland or a stops view. I think I'm looking in the wrong place.

http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/KeyHubSreport.html?&x1=0.08&x2=0.25&x3=2.0&n=ior&dbindex=9&popYear=2010

What is the URL for this report?

[2017-09-15 21:28] pouyalireza commented on #34
@ed-g  the URL you have sent is correct.If you scroll to the right you should see a column called stops
![image](https://user-images.githubusercontent.com/12384084/30504091-b73ff24e-9a21-11e7-960a-7ce79bd27f6c.png)
If you expand this column you should see stop details
![image](https://user-images.githubusercontent.com/12384084/30504170-1d65e61e-9a22-11e7-8159-3bfaf3ad5791.png)

[2017-09-15 21:50] ed-g commented on #34
Oh I see. One issue for my browser is there is no horizontal scroll bar shown.

[2017-09-15 21:53] srinivas13794 commented on #34
You have to scroll down to the end of the table just before where you can
select different pages.

On Friday, September 15, 2017, Ed Groth <notifications@github.com> wrote:

[2017-09-15 21:55] ed-g commented on #34
Ok thanks!

[2017-09-16 17:27] ed-g commented on #34
@srinivas13794

I'm not as familiar with the database as you are so my question might not make sense.

Is this an issue with the way the database is organized, in that maybe I could help to write a query to find the relationship?

Or is the relationship available but the tna software doesn't use it.

I don't really know enough to be helpful yet so let me know if there is something I can do, or as

[2017-09-16 17:30] ed-g commented on #13
@srinivas13794 or @BenFields724 would you be able to create a javascript user interface to "turn off" agencies in the main page, and that sends that list to a Java server page?

If there is a Java server page that knows which agencies should be currently turned off or on, I can create the database backend to actually turn them off or on.

[2017-09-16 17:31] ed-g commented on #32
@srinivas13794 how about as a next step, let's see if we can test the query with multiple days, in isolation.

[2017-09-16 17:45] ed-g commented on #59
@srinivas13794 @BenFields724

That's totally understandable.

Next time if something like this happens, it's OK to say that the file got misplaced. That closes the loop with communication to me, so I know to stop waiting for the file to show up to run more tests. At that point we can just make a new plan.

And you're absolutely right, I have been asking you to adapt to a work flow that I'm familia

[2017-09-16 18:17] ed-g commented on #4
* [ ] build a new db, "October 2017"
* [ ] import gtfs feeds to new db
* [ ] check for where gaps in 7 contiguous days exist, look for 3 candidates for 7 contiguous days
  * [ ] For each candidate try to find gtfs feeds of proper start/end dates to fill gap

[2017-09-17 14:39] ODOT-RPTD-mb commented on #13
@ed-g @srinivas13794 @BenFields724  Each user should have their own view of the data.

[2017-09-18 16:59] ed-g commented on #13
@srinivas13794 @BenFields724 how are users tracked within java? Is there a JSP session ID or similar?

[2017-09-18 17:01] ed-g commented on #32
@srinivas13794 @BenFields724 does that sound like a good next step to you? If not what would you suggest?

[2017-09-18 17:19] ed-g commented on #4
@ODOT-RPTD-mb @PPaulsonOregonDOT @srinivas13794 @BenFields724 are the GTFS feeds in the Tna tool loaded from the Public+Private gtfs archive site? If not, what is the process for fetching GTFS feeds?

[2017-09-18 17:21] ODOT-RPTD-mb commented on #4
Yes, feeds are captured from private+public Trillium site.

[2017-09-18 18:08] srinivas13794 commented on #34
@ed-g @BenFields724  I think it would be  a good idea to set up a call to discuss this and the other tasks so we can be on the same page.Please let me know what times work for you.

[2017-09-18 18:09] srinivas13794 commented on #32
@ed-g I tested the query out for a day and compared it against multiple days and I could see that the number of trips remained the same.I am trying to find ways to fix this.

[2017-09-18 18:13] ed-g opened #64 "update any references to getProtectionDomain() etc to use the resources from the webapp"
For example, in UpdateEventManager to load sql.

There are many cases like this. We just need to load files out of the resources directory instead of the nonportable code which attempts to find the source code of the project.

[2017-09-18 18:14] ed-g commented on #34
I'm available today or on Friday.

[2017-09-18 18:16] ed-g commented on #64
It seems like

[code]

 would work fine. But I need to test.

[2017-09-18 18:16] srinivas13794 commented on #13
@ed-g  I have been working on a javascript interface to the functionality you have mentioned.I will push the code and let you know once I have finished it.Again for this task too if we could discuss it briefly over a conference call it would be helpful.

[2017-09-18 18:17] srinivas13794 commented on #34
@ed-g  @BenFields724 What time would work for you today ?

[2017-09-18 18:22] ed-g commented on #34
Any time today. I need to keep it to a half hour though.

[2017-09-18 18:25] srinivas13794 commented on #34
@ed-g 12:00 pm works for both me and ben. Does that work ?

[2017-09-18 18:25] ed-g commented on #64
https://docs.oracle.com/javase/7/docs/api/java/lang/ClassLoader.html#getResource(java.lang.String)

One question is, does the URL returned allow java to open files etc? Or will some things break. Is that why the goofy code to find the source directory instead of using getResource?

[2017-09-18 18:26] ed-g commented on #34
Yes I can call you at the same number?

[2017-09-18 18:27] srinivas13794 commented on #34
@ed-g  Yes that works.Thanks a lot.

[2017-09-18 18:30] ed-g commented on #32
Can you paste the sql query text as a comment to this issue?

[2017-09-18 18:32] ed-g commented on #64
See if we can just log the return value from getResource to System.err using format().

[2017-09-18 18:36] ed-g commented on #59
I think this was simply due to typos in other xml configuration files.

[2017-09-18 18:36] #59 closed

[2017-09-18 18:39] ed-g commented on #6
All these gtfs files get uploaded to a resource directory.

A simple solution would be:
* Make the upload directory specific per datatabase, using the id number from dbInfo.csv.
* Don't delete them after loading.

We could use the same method to make raw files available for other data uploaded to TNA tool.

Only downside is that uploading the same file twice will probably overwrite the earlier ver

[2017-09-18 19:13] ed-g commented on #34
Each agency has an agency_id and an default_id. This can cause problems.

[code]

[2017-09-18 19:42] ed-g commented on #13
This is notes from the call. If you can get some list of "hidden" agency id's to java, I can update the table, and then modify a few queries to test the process.

Then if those test queries work we can modify the rest of the queries to be compatible with this way of hiding agencies.

[2017-09-18 19:43] ed-g commented on #32
Rather, paste it here if you would like my help with debugging.

If you have it in hand and don't need my help then there's no need to paste code, or show me how things work.

[2017-09-18 19:47] ed-g commented on #4
Uploading feeds from http://archive.oregon-gtfs.com/archive-download-private/Oregon-Private-GTFS-feeds-2017-09-18Z.zip (you'll need a login to access that URL).

[2017-09-18 20:02] ed-g commented on #14
@srinivas13794 just a reminder to please upload your version of the PNR data.

[2017-09-18 20:19] ed-g commented on #4
If we create a GIST index on census_blocks.shape, testing for contained points goes much faster.

[code]

[2017-09-18 20:59] ed-g commented on #4
This will enable parallel queries on the database which could speed things up depending on the exact query.

[code]

[2017-09-18 22:37] ed-g commented on #4
Pretty close, there are a couple agencies which are ruining the party. Klamath seems to have expired a couple years ago, and CCCXPRESS starts in the future.

[code]

[2017-09-18 23:03] ed-g commented on #4
CCCXpress from 14 September looks like it starts on the 13th. I wonder why tna tool thinks it starts on the 25th.

oregon-gtfs.com also shows it as starting on the 13th.

[code]

[2017-09-18 23:08] ed-g commented on #4
Klamath Shuttle (aka Crater Lake Trolley) will run this year until October 10th or 11th.

[2017-09-18 23:18] ed-g commented on #4
Protip: use application/json to fetch data from Daterange backend. Browser confuses the backend by asking for html and xml.

[code]

[2017-09-18 23:27] ed-g commented on #64
For read/write settings we'll want to use Databases().ConfigurationDirectory() of course.

[2017-09-19 00:20] ed-g commented on #4
@ODOT-RPTD-mb @PPaulsonOregonDOT it looks like there is a little over a month of contiguous validity (September 25th through October 31st), with the single exception of the Klamath shuttle which runs only seasonally and is done for the year.

Let me know if this gives you what you need for the report?

[code]

[2017-09-19 00:26] #60 closed

[2017-09-19 00:27] ed-g commented on #55
Closing since there are no crashes reported. We can open new issues if problems arise.

[2017-09-19 00:27] #55 closed

[2017-09-19 01:03] ODOT-RPTD-mb commented on #4
Potentially this works for a short term fix. I would expect Columbia Gorge Express to show up (or not show up) in the same way that the Klamath Shuttle does in that it is also a seasonal summer service that is not currently operating?

For the longer term we probably want to:
- Only consider contiguous time blocks in the past with respect to the capture date, when looking for 7 consecutive days to

[2017-09-19 10:43] ed-g commented on #4
Sorry just a quick response for now

* Feed capture date is available in the archive; we'll just want a way to load it into TNA tool.

* Aaron can say more but we're planning to ask agencies about the expected end date of their feeds on each export -- right now we give the end date based on the last calendar which assumes too much.

* I don't understand the details for how to analyze seasonal feed

[2017-09-19 17:14] PPaulsonOregonDOT commented on #4
@ed-g Generally, we know which feeds are seasonal (at this point, I think it's just Klamath Shuttle and Columbia Gorge Express).

[2017-09-19 19:29] PPaulsonOregonDOT opened #65 "Shapefile Exporter Broken"
I just tried to run the shapefile export function on the September database in the TNA version of the tool, and recieved the following pop-up message:

"HTTP Status 404 - /%3Chtml%3E%3Chead%3E%3Ctitle%3EApache%20Tomcat/7.0.76%20-%20Error%20report%3C/title%3E%3Cstyle%3E%3C!--H1%20%7Bfont-family:Tahoma,Arial,sans-serif;color:white;background-color:

type Status report

message /%3Chtml%3E%3Chead%3E%

[2017-09-19 19:34] PPaulsonOregonDOT commented on #32
I had a chance to dig into this bug a little bit further, and it appears that the datepicker is defaulting to the current day for all changes to the calendar selection. For instance, I have chosen a different day and an entire week of dates in the datepicker, and the report reverts to the current day. Let me know if there is more testing I can do to help zero in on a solution.

[2017-09-19 19:52] srinivas13794 commented on #65
@PPaulsonOregonDOT  Just to confirm that you were using the Trillium server to generate these shape files. @ed-g I tested out few other databases and they seemed to work, there seems to be a problem with the September 2017 database.

[2017-09-19 20:17] PPaulsonOregonDOT commented on #65
@srinivas13794 That is correct, I am using the TNA server. I ran the same report/tool for the May 2017 and April 2017 databases, and received the same message.

[2017-09-20 23:55] PPaulsonOregonDOT commented on #4
One observation that I just made related to this is that the floating box with all of the Oregon Transportation Agencies (OTA) currently shows now agencies with expired feeds, which would suggest that at least today should be considered a valid day, and I believe this entire week should qualify. However, in looking at the data graph, there are no days when all feeds are valid. This might be relate

[2017-09-21 20:31] PPaulsonOregonDOT commented on #34
This issue appears to be resolved for Portland Streetcar,, but in the same drop down menu in that report, now the Columbia Area Transit stop is showing an undefined visit count.

[2017-09-21 21:21] PPaulsonOregonDOT commented on #22
@ed-g I think the linear interpolation method will work for our purposes, and there has been some substantial work done in that realm by Melinda Morang here: http://transit.melindamorang.com/overview_InterpolateBlankStopTimes.html. The only potential issue with this method being accurate is that not all gtfs files contain shapes.txt, because it's not a required file, and using straight line distan

[2017-09-25 18:18] ed-g commented on #65
@PPaulsonOregonDOT just to echo Srinivas here. There are four TNA servers:

OSU development (port 8080)
OSU production (port 80)

Trillium development (port 8080)
Trillium production (port 80)

OSU servers are useful for reference but are no longer receiving code updates but may potentially get data updates for testing purposes.

Trillium servers are receiving code and data updates.

It might be s

[2017-09-25 18:19] ed-g commented on #13
@srinivas13794 @BenFields724 any updates on this?

[2017-09-25 18:20] ed-g commented on #32
@srinivas13794 @BenFields724 any updates on this? Do you need my help?

[2017-09-25 18:21] ed-g commented on #34
@BenFields724 @srinivas13794 any update on this?

[2017-09-25 18:21] ed-g commented on #14
@srinivas13794 any update on this?

[2017-09-25 18:22] ed-g commented on #58
Re prioritizing low since there are other things we need to solve which are more urgent.

[2017-09-25 18:30] ed-g commented on #22
@PPaulsonOregonDOT I'm not enough of a mathematician to make a suggestion when no shape data is available.

It seems like the options are:

* agencies without shapes can not be included in the report
* agencies without shapes need manually updated stop times. An analyst looks at a map and makes an educated guess as to arrival times for the missing stops. Or calls the agency. Or tracks down realtim

[2017-09-25 18:35] ed-g commented on #65
Hi @PPaulsonOregonDOT

Did you export stops or routes? Which agencies were selected?

I'm seeing an error when I attempt to export Albany's routes.

It's opening a popup window which contains a URL quoting a tomcat error message. Bizzare.

`http://tna.trilliumtransit.com:8080/%3Chtml%3E%3Chead%3E%3Ctitle%3EApache%20Tomcat/7.0.76%20-%20Error%20report%3C/title%3E%3Cstyle%3E%3C!--H1%20%7Bfont-family:

[2017-09-25 18:41] ed-g commented on #65
This URL fails.

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/queries/transit/getshapefile?agencyids=456&flag=routes&dbName=september17&username=admin&dbIndex=10

[2017-09-25 18:56] srinivas13794 commented on #14
Sorry for the delay I will upload this by the end of the today.

On Monday, September 25, 2017, Ed Groth <notifications@github.com> wrote:

[2017-09-25 18:56] srinivas13794 commented on #32
I have fixed this I will upload this onto the trillium server and let you
know

On Monday, September 25, 2017, Ed Groth <notifications@github.com> wrote:

[2017-09-25 18:58] srinivas13794 commented on #13
I have pushed a version of this interface onto your development server.I
still need to make a few changes.

On Monday, September 25, 2017, Ed Groth <notifications@github.com> wrote:

[2017-09-25 19:06] ed-g commented on #13
Is this under the "FS" button?

[2017-09-25 19:10] ed-g commented on #34
Thanks for the update! Is there any way I can help?

[2017-09-25 19:12] srinivas13794 commented on #13
Yes.

On Mon, Sep 25, 2017 at 12:06 PM, Ed Groth <notifications@github.com> wrote:

[2017-09-25 19:29] srinivas13794 commented on #14
@ed-g I will send out an email with a file containing the new park and ride data that is in the right format for the admin interface.However, this file is still missing some data. @PPaulsonOregonDOT  Would you be able to get data for the rows highlighted? I will also attach a file that is a reference for future park and ride data updates (**This can be got through the admin interface under notes**

[2017-09-25 19:42] srinivas13794 commented on #14
@ed-g @PPaulsonOregonDOT  here are the files
[p_r.zip](https://github.com/pouyalireza/TNAST_MAVEN/files/1330658/p_r.zip)

[2017-09-26 16:32] PPaulsonOregonDOT commented on #65
@ed-g To clarify above, I was using a trillium server.  As an update, I just tested the export tool on both TNA servers using the September database, exporting albany routes. Hitting the export button creates an about:blank pop-up window, but I don't see a download, and I'm not seeing the tomcat error message any longer.

[2017-09-26 18:17] PPaulsonOregonDOT commented on #19
This looks a lot less crazy when you look at the number of stops aggregated together. The KTH with 21K+ visits aggregates together 148 stops so those visits are distributed across all of those stops, the next highest hub only aggregates 22 stops together.

[2017-09-26 18:17] #19 closed

[2017-09-26 18:45] srinivas13794 commented on #32
@PPaulsonOregonDOT @ed-g @ODOT-RPTD-mb  This issue has been fixed on trillium's [development verison](http://tna.trilliumtransit.com:8080/?&n=--&dbindex=10) of the tool.

[2017-09-26 18:49] srinivas13794 commented on #13
@ed-g As I mentioned yesterday I have added a basic interface for user selection of agencies that can be accessed by clicking on the FS button.I have programmed it in such a way that the agencyid's are sent to the backend.This is done in the /feedselect path under the queries.java file.I have also added a Print statement that prints out the agencyid's it should show up on your logs.

[2017-09-26 19:35] PPaulsonOregonDOT opened #66 "Two Reports Time Out?"
I checked both servers, and the aggregated urban area report and the route/agencies detail reports appear to time out, even outside of the ODOT environment.

When you open up the aggregated urban area report from the main report tab, it does not complete, and appears to time-out. Interestingly, this report completes just fine if you access the transit agency report and select the urban areas hyper

[2017-09-26 19:50] PPaulsonOregonDOT opened #67 "Inconsistency between route mile measures"
When looking at the agency detailed report, the urban route miles + rural route miles don't equal the total route miles. The numbers are not widely different, and the difference varies by agency,
SMART:
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/AgenXReport.html?&agency=101&x=0.25&l=2&n=izr&dbindex=10&popYear=2010&areaid=null&type=0&username=admin&geotype=-1&geoid=null&nav=stateS-agency

[2017-09-26 20:34] PPaulsonOregonDOT commented on #22
@ed-g I don't think the "no shape availible" is a problem for any agencies in Oregon, as those have a pretty stringent QA/GC process. However, if we ever want to expand the usage of the tool beyond the state of Oregon, we should probably include a warning about this at some point in the process, so that states can implement option 2 or 3 on this list..

[2017-09-26 20:42] ed-g opened #68 "date selection broken on many pages"
Date selection followed by submit fails on many pages.

It would be great to have 3 example URL's that fail here. @PPaulsonOregonDOT @srinivas13794 @BenFields724 can you post comments to this ticket with a URL that fails?

@srinivas13794 @BenFields724 you mentioned there were problems with a library. Can you give
* a URL link to the library itself
* A file and line number (or github link works too

[2017-09-26 20:49] PPaulsonOregonDOT commented on #68
http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/GeoStateXreport.html?&x=0.25&l=2&n=izr&dbindex=10&areaId=41&popYear=2010&nav=stateS

http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/AgenXReport.html?&agency=101&x=0.25&l=2&n=izr&dbindex=10&popYear=2010&areaid=null&type=0&username=admin&geotype=-1&geoid=null&nav=stateS-agencyS

http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/GeoCountiesXreport.htm

[2017-09-26 21:28] ed-g commented on #6
I thought that I had kept the files in the /etc directory but they're still getting deleted.

For now it might be easier to have a manual process where we maintain a copy of any uploaded GTFS on the server under an SFTP account.

[2017-09-26 21:29] srinivas13794 commented on #68
@BenFields724 @ed-g @PPaulsonOregonDOT @ODOT-RPTD-mb We were able to find the problem and fix it.The [development version](http://tna.trilliumtransit.com:8080/?&n=--&dbindex=10) of the trillium server should now be updated with the latest changes.Please let me know if you encounter this problem again in your testing.

[2017-09-26 21:36] ed-g commented on #68
https://github.com/pouyalireza/TNAST_MAVEN/commit/40474d3c2cca3402e99a5a2af332cd037e5dc302

[2017-09-27 19:19] PPaulsonOregonDOT commented on #22
@srinivas13794 @BenFields724 @srinivas13794. I checked out the stops report with the time limitations for Baker County, and I think that that report will give us a lot of the information we want. The remaining issues is the blank rows in stop_times.txt. Is there a way we can programatically deal with those that doesn't require modification of the GTFS feeds before they get fed into the tool?

[2017-10-02 18:38] ed-g commented on #68
@PPaulsonOregonDOT can you test on your side and verify this is fixed? I tested and it seemed to work.

[2017-10-02 18:39] ed-g commented on #67
@srinivas13794 sounds like this was related to agencies with route miles contained outside of Oregon. Am I thinking of the correct issue here?

[2017-10-02 18:39] ed-g commented on #66
@PPaulsonOregonDOT can you link URL's and I'll use those for trial and error to improve performance.

[2017-10-03 00:27] srinivas13794 commented on #67
@ed-g There are two cases in which you can see a difference between route miles and the sum of urban,rural route miles:
1. When the agency has service outside the state of Oregon. As the database contains only blocks inside Oregon we can only get the urban and rural route miles for those blocks.
2. In general in using Post GIS commands such as ST_Intersection,ST_Length there is an error of estimat

[2017-10-03 20:04] ed-g commented on #68
Srinivas: this should work fine.

[2017-10-03 20:05] ed-g commented on #68
If we find any problems with other reports, OK to email Srinivas to ask questions.

[2017-10-03 20:07] ed-g commented on #22
Srinivas: linear interpolation may be OK.

[2017-10-03 20:10] ed-g commented on #34
@srinivas13794 can you give me whatever rough draft of any fix, or documentation of what you see as the underlying problem.

[2017-10-03 20:11] ed-g commented on #34
Threading implementation was a problem to fix.

[2017-10-03 20:12] ed-g commented on #34
OK if the code doesn't work or if it has bugs -- just a place for me to start from.

[2017-10-05 17:09] #32 closed

[2017-10-05 17:15] PPaulsonOregonDOT commented on #66
@ed-g:
Aggregated Urban Areas Report
http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/GeoUAreasRReport.html?&popMin=0&popMax=2000000&dbindex=10&popYear=2010

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/GeoUAreasRReport.html?&popMin=0&popMax=2000000&dbindex=10&popYear=2010

Agency/Route Reports:
http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/GASReport.html?&areaid=41001&type=0&dbindex=1

[2017-10-05 17:16] #68 closed

[2017-10-05 17:32] PPaulsonOregonDOT commented on #67
@ed-g: Is it possible that there is a datum difference with the two datasets? I know the route shapes are going to come in as WGS 1984 (EPSG 4326). From what I can tell, the urban/rural boundary file provided by the census is provided in North American Datum 83 (EPSG 4269). If they aren't projected to the same projection (ideally Oregom Statewide Lamber (EPSG 2992) , it's possible that it could in

[2017-10-05 19:17] ed-g commented on #67
@PPaulsonOregonDOT this is a little over my head with regard to GIS. We can research and find out.

[2017-10-05 19:24] ed-g commented on #66
Thanks!

[2017-10-05 19:26] ed-g commented on #65
Something I noticed that may help during the debugging process.

It seems like tomcat java applications "cache" the existence of errors.

In other words tomcat will show an error the first time it is encountered, but and afterwards a page will still fail but no error is shown.

[2017-10-06 00:29] PPaulsonOregonDOT commented on #66
@ed-g: This might shed some light on the reason that the reports are timing out. I'm not entirely sure the reports that those hyperlinks point to exist any longer. as an example of the routes report reached from the agency report, which appears to be empty.
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/routereport.html?&agency=101&x=0.25&n=jer&dbindex=10&popYear=2010&nav=stateS-agencyS

[2017-10-11 17:08] PPaulsonOregonDOT opened #69 "Most of the reports in the tool return empty tables"
I went into the tool late yesterday and today, and all of the reports (with the exception of the Transit Agencies Report at http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/AgenSReport.html?&dbindex=9&popYear=2010), are returning empty tables or not completing. This issue had occurred with a few reports prior to last week (see issue #66) as far as I can tell, but appears to have developed signific

[2017-10-16 20:46] ed-g commented on #34
@srinivas13794 please post the any code you have, so I don' t need to start implementation from scratch. I don't care if it runs or not or looks good. Just send me what you have.

[2017-10-16 20:49] ed-g commented on #69
Ok I don't know what might have changed. I've restarted the server in case something got "stuck".

[2017-10-16 20:50] ed-g commented on #69
That report references may 2017, is that the db you want to be using?

Can you link to a report which does *not* work but which used to?

[2017-10-16 23:57] srinivas13794 commented on #34
@ed-g I apologize for the delay.Attached is a document with recommended fixes to the problems in this report.
[Key_Transit_hubs.docx](https://github.com/pouyalireza/TNAST_MAVEN/files/1389338/Key_Transit_hubs.docx)

[2017-10-17 00:07] ed-g commented on #34
@srinivas13794 thank you!! :-)

[2017-10-17 17:32] PPaulsonOregonDOT commented on #69
Generally I've been working out of the September 2017 database:
These don't complete:
http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/GeoStateSreport.html?&dbindex=10&popYear=2010
http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/GeoUAreasRReport.html?&popMin=0&popMax=2000000&dbindex=10&popYear=2010

These get to about 10%, and then appear to time out:
http://tna.trilliumtransit.com/TNAtoolAPI-Web

[2017-10-26 00:57] ed-g commented on #69
I'm going to keep an updated list here as I work through reports.

This report works for me as of Oct 25th.

Based on browser dev console. There is 500 error from this url:

http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/queries/transit/GeoURSR?&upop=NaN&key=0.11034188897544905&dbindex=10&popYear=2010&username=admin&popMax=2000000&popMin=0

[2017-10-26 21:44] ed-g commented on #69
[root@tna TNAST_MAVEN]# ag winter16 TNAtoolAPI-Webapp/src/

[code]

[2017-10-26 21:45] ed-g commented on #69
Missing `/` in the xml file. should be `jdbc:postgresql://localhost:5432/winter16`

[2017-10-26 21:54] ed-g commented on #69
hack hack hack. link all configuration files from /etc into the tna source code directory.

[code]

[2017-10-26 22:03] ed-g commented on #69
Ok the missing xml file is now solved by the symlinks. However hibernate complains about some possibly non-threadsafe locking.

http://tna.trilliumtransit.com/TNAtoolAPI-Webapp/queries/transit/GeoURSR?&upop=NaN&key=0.06360874349482426&dbindex=10&popYear=2010&username=admin&popMax=2000000&popMin=0

org.hibernate.AssertionFailure: possible non-threadsafe access to the session
	org.hibernate.engine.T

[2017-10-26 22:06] PPaulsonOregonDOT commented on #69
The production version of the tool appears to have resolved, checking the development version now. Is there any testing i can do to help resolve any of the issues mentioned above?

[2017-10-26 22:10] ed-g commented on #69
@PPaulsonOregonDOT I'm still seeing errors in some URLs -- just uploaded a small fix to reduce progress bar check interval so that I can run firefox developer view without my browser slowing to a crawl.

Yes if you could mark in your original list, the one at the top of this page. And edit to show which URLs are working and whether you tested development or production, and the date/time of the tes

[2017-10-26 22:15] ed-g commented on #69
Ok looks like that threadsafe error appears intermittently, as I suppose those kind of errors do.

[2017-10-26 22:27] ed-g commented on #69
Now this api is giving an error: http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/queries/transit/GeoURSR?&upop=NaN&key=0.2645149248761235&dbindex=10&popYear=2010&username=admin&popMax=2000000&popMin=0

[2017-10-26 22:39] ed-g opened #70 "automatically symlink xml config files during build process"
Quite a hack, but better than no solution.

https://github.com/pouyalireza/TNAST_MAVEN/issues/69#issuecomment-339812259

[2017-10-26 23:11] PPaulsonOregonDOT commented on #69
Done. They all worked correctly, but I'm going to continue to test the reports beneath them to make sure the whole app is stable.

[2017-10-26 23:31] #66 closed

[2017-10-27 17:15] #69 closed

[2017-10-27 17:19] ODOT-RPTD-mb commented on #67
We still need to at least get to the point where we are confident we understand the reason for the differences we are seeing.
If practical we should also fix this.

[2017-10-27 17:21] ODOT-RPTD-mb commented on #65
exporter functionality needs some rework, not just bug fix.

[2017-10-27 17:51] ed-g commented on #70
Note this means if you add or change settings for a database you must **rebuild and reinstall** the network analysis for transit application.

[2017-10-27 18:01] ed-g commented on #67
Comments from Chris at Trillium:

[2017-10-27 19:09] #34 closed

[2017-10-27 19:33] ODOT-RPTD-mb commented on #22
Stepped through stops summary report for Portland Metro Urban area, for agency = TriMet, with default time range 0-23:59, did not see any zero visit stops. I assume that this means some kind of linear interpolation is in place? If so we need some kind of brief user focused documentation of how we are handling this.

http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/stopreport.html?&areaid=7131

[2017-10-27 19:42] ODOT-RPTD-mb commented on #21
ODOT need to clearly define work for Trillium if any.

[2017-10-27 19:47] ODOT-RPTD-mb commented on #7
May revisit this or related issues in the future, but will start fresh or re-open if needed.

[2017-10-27 19:47] #7 closed

[2017-10-27 19:49] ODOT-RPTD-mb commented on #17
ODOT will review and if needed re-focus this task.

[2017-10-27 20:08] ODOT-RPTD-mb commented on #6
do we have an existing body of documentation of new db creation process for Trillium? GTFS saving process should be part of such documentation

[2017-10-30 22:54] ed-g commented on #70
Design work is making sure that the auto-symlinks don't destroy any important files if the build variables are set to unexpected variables. Easiest way to do that is hard code a path, intentionally reducing the flexibility. This is supposed to be a stop-gap anyhow.

2-3 hours.

[2017-10-30 22:55] ed-g commented on #67
This is a research task from my point of view. 4-16 hours guesstimate.

[2017-10-30 22:56] ed-g commented on #65
Oh the error might just because the databaseParams.csv (another redundant config file) is missing from the source directory since I attempted to move everything to /etc.

So fixing the error is probably only 1hr.

But rework, I'll say 6-10 hours.

[2017-10-30 22:56] ed-g commented on #64
8-12 hours.

[2017-10-30 22:57] ed-g commented on #58
Good value would be 2-3 hours spent adding error messages when config files such as this are referenced.

[2017-10-30 22:58] ed-g commented on #24
A true GIS analysis task. 8-16 hours in blocks of 4+ hours. Being able to visualize a section of the data would help with making development more intuitive.

[2017-10-30 23:03] ed-g commented on #22
4 hours investigation.

My recommendation is:
* a simple fix that allows valid results for oregon gtfs data. 8 hour-12 hours.
* clear error message if you attempt to run this report on any GTFS without shapes or where interpolation is fraught for any other reason. 2 hours.
  * along with thorough documentation of options for extending this to GTFS without shapes. 3 hours.

[2017-10-30 23:05] ed-g commented on #20
4-6 hours for first step here.

[2017-10-30 23:07] ed-g commented on #14
It looks like we still need to review the spreadsheet. Look at it and then see how much work to fill in gaps.

[2017-10-30 23:10] ed-g commented on #13
Tie into back end such that java/sql side "knows" which agencies the current user has selected. 4 hours.

Design a way to include this information on the sql side in a way that is both performant and easy to join against. 4-6 hours.

Add the join to every query. Depends on the method chosen. 20 minutes to 1 hour per query depending on complexity.

[2017-10-30 23:12] ed-g commented on #9
Current set up is madness based on the fact that the config files are scattered throughout the:
* source directory
* jar file
* /etc

And no clear distinction is made within the code as to where to find config files in any given scenario.

We need to fix this, so that installation process can be sane, and then we can document that new process.

[2017-10-30 23:13] ed-g commented on #6
Creating a manual process and documenting it is 2-3 hours. The trick is making it easy to remember to adhere to the process.

[2017-10-30 23:14] ed-g commented on #5
Closing this unless @PPaulsonOregonDOT you think there is more work to be done here.

[2017-10-30 23:15] ed-g commented on #4
@antrim I'll let you make a time estimate here

[2017-10-31 19:35] PPaulsonOregonDOT commented on #24
I think this has been implemented in the tool, though it needs some refinement to make sure that the results are accurate. Assuming that I can figure out ssh, I can also dedicate a fair amount of bandwidth to this task.

[2017-10-31 19:42] PPaulsonOregonDOT commented on #5
@ed-g, I apologize for the delay in my response, but in the floating dialog box, I'm only seeing 60 agencies, when I would expect to see 65+, with agencies that have expired GTFS feeds displayed in red. This functionality is important to have in order to give user's a warning about what agencies they should expect to see excluded from the results of reports that they run.

[2017-11-07 23:47] PPaulsonOregonDOT commented on #21
@ed-g, am I correct in thinking that the Level of Service attribute is a derivative of the visits for a given stop? My understanding from talking to Dr. Porter was that the visits to a given stop were calculated, and then excluded from any further analysis if they weren't visited X times.

[2017-11-08 00:22] ODOT-RPTD-mb opened #71 "Branding, Landing Page, Information Organization"
Landing Page:

- I like the notion of a stable TNAST landing page, that acts as an introduction to TNAST resources and links to instances.
- Taking over some version of a landing page from OSU, is also an opportunity to re-brand TNAST, get a TNAST specific domain, and think through organization of TNAST related content, what belongs on GitHub, what doesn't?
- Should we create a "clean" version of

[2017-11-09 00:01] antrim commented on #71
@antrim will make a plan for this and discuss with @ODOT-RPTD-mb

[2017-11-10 18:10] ODOT-RPTD-mb opened #72 "Census related data, and software update schedule estimate"
Create estimated schedule for tool updates.

For example, when, and on what schedule do we expect to need to update;
- dis-aggregated census data, and estimated future census data?
    - does update include revised urban areas? if so what does tool currently support such change sets?
-various software tools / libraries that the tool depends on?

[2017-11-14 20:45] ed-g opened #73 "update RVTD for new calendar.txt"

[2017-11-14 20:46] ed-g opened #74 "GTFS update should not fail due to http connection reset"

[2017-11-14 20:46] ed-g commented on #74
Find a way to reproduce on a testing database.

[2017-11-14 21:05] PPaulsonOregonDOT commented on #73
This points to a bigger conversation that we need to have about what the tool looks at in terms of "up to date" data. RVTD's feed doesn't expire until 2025, but their calendar.txt end date is 9/1 on the old feed and the same file has a start date of 9/25 in the newest feed, which is the same date as it was refreshed on oregon-gtfs.com. The feed validator didn't throw an issue with this feed, which

[2017-11-15 19:35] PPaulsonOregonDOT commented on #67
I was able to get access to the OSU version of the database, which I assume is the same, in terms of spatial boundaries, as the Trillium version that is currently "top spec". From looking at the May 2017 database, it looks like there's two sets of files for each relation that would be involved in the urban/rural route miles/service miles calculations. One of these tables has a coordinate reference

[2017-11-15 20:03] PPaulsonOregonDOT commented on #74
We're at about the 3 month mark for this database, so I think it is probably appropriate to start looking towards providing a November version of the database, which will solve all the problems with the RVTD database, and also allow us to pull Valley Retriever fully out of service. Even with the deprecated status, it's still effecting the Key Transit Hub report, and in talking with @ODOT-RPTD-mb,

[2017-11-17 00:03] ed-g opened #75 "more coverage for log messages"
Start in locations where there are bugs and we don't know what exactly is happening under the hood.

[2017-11-17 00:04] ed-g opened #76 "refactor query code to use a VIEW"
Then those VIEW results can be available to any other database querying including for example qgis.

[2017-11-17 00:10] PPaulsonOregonDOT commented on #74
The September 2017 appears to be broken and hung up on updating, and I can't create a new instance of the database until it is activated. I have discovered a seemingly random approach to the use of the calendar.txt vs. calendar_dates.txt vs. feed_info.txt, to set the end date for a feed  for some of the independent GTFS producers that may be causing the unwanted behavior I was trying to fix by upd

[2017-11-17 00:19] PPaulsonOregonDOT commented on #76
Would it be possible to set the queries for the stable version of the tool to these views, but keep the development version linked to the current database as a method of separating the two versions?

[2017-11-21 20:42] ed-g commented on #76
The stable and development versions currently share a database. We can keep them on the same database or create a new database for the development version, and that's independant of whether we refactor query code to use a VIEW.

[2017-11-21 21:11] PPaulsonOregonDOT commented on #76
I think we should split the databases, because we want to have one instance of the tool up and running while we update the other. Case in point, I tried to update the Sept17 database, and it has crashed that database in both tools for two weeks.

[2017-11-21 23:15] ed-g commented on #76
Ok I can see the need. The trick is it's handy to be able to test code changes independently of data.

The way this can be structured is a grid

 \ | production code | development code
---- | ----- | -----
**production data** | production | staging
**testing data** |  testing | developent

[2017-11-21 23:32] PPaulsonOregonDOT commented on #67
I have additional data to add to this question. I ran an analysis of the Amtrak Cascades, using the May 2017 database and the shapefiles from that i have from that same database, and came up with the following results:
Tool:
Rural Route Miles: ArcGIS 66.92 TNA Tool: 66.76
Urban Route Miles ArcGIS: 56.61   TNA Tool: 56.77

I was going to chock in up to a tiny error, but then I checked the Albany Tr

[2017-11-22 19:32] PPaulsonOregonDOT commented on #76
I definitely like this arrangement, my only concern is how much additional work it will create to implement this upfront.

[2017-11-23 00:04] ed-g commented on #76
Takes some process and configuration time, but it's straightforward.

We can just dump/restore each database to a "testing" version for example testingwinter17. Then change the config in the testing and development servers to point to those databases.

[2017-11-23 13:47] ODOT-RPTD-mb commented on #76
Breaking out db organization as a separate issue #77

[2017-11-23 13:51] ODOT-RPTD-mb opened #77 "Reorganize db to support stable db to match stable app instance"
Currently both stable and development tnast point to same db, so db issues impact both instances.

Modify db setup to make stable app db independent, while still supporting effective debugging.

\ | production code | development code
-- | -- | --
production data | production | staging
testing data | testing | developent

[2017-11-23 13:56] ODOT-RPTD-mb commented on #76
@ed Are there efficiency benefits to be had by combining issue #13 with view re-factoring?

Can view refactoring be done incrementally, phased over time?

Work time estimate for refactoring?

[2017-11-23 14:09] ODOT-RPTD-mb opened #78 "New GTFS snapshot"
Clear failed snapshot create new current GTFS snapshot/db.

[2017-11-23 14:13] ODOT-RPTD-mb commented on #74
New GTFS snapshot moved to #78, this issue remains bug fix.

[2017-11-23 14:17] ODOT-RPTD-mb commented on #73
Closing this issue and folding under #4

[2017-11-23 14:17] #73 closed

[2017-11-23 14:18] ODOT-RPTD-mb commented on #4
@PPaulsonOregonDOT  Phil comment ported from closed issue:
This points to a bigger conversation that we need to have about what the tool looks at in terms of "up to date" data. RVTD's feed doesn't expire until 2025, but their calendar.txt end date is 9/1 on the old feed and the same file has a start date of 9/25 in the newest feed, which is the same date as it was refreshed on oregon-gtfs.com. The

[2017-11-23 14:21] ODOT-RPTD-mb commented on #78
Do want 7 contiguous days of past coverage, follow GTFS feed archiving procedures, etc.

[2017-11-23 14:23] ODOT-RPTD-mb commented on #72
For example in approx 2022, add/update base 2020 census data.

[2017-11-23 14:55] ODOT-RPTD-mb commented on #65
@PPaulsonOregonDOT Shapefile Exporter

Revised Functionality
1)	Export stops and routes only. Date selection, and GTFS database are user input parameters. Exports data for “current” feeds, feed within feed start and end dates, even if not within calendar date range.
2)	Export stops and routes and trips and times. Date selection, and GTFS database are user input parameters. Exports data valid for d

[2017-11-23 15:00] ODOT-RPTD-mb commented on #24
route miles urban/rural is in place, but not the more important service miles urban/rural split.

[2017-11-23 15:07] ODOT-RPTD-mb opened #79 "ISSUE ATTACK SEQUENCING"
@ed-g @PPaulsonOregonDOT
This issue addresses work sequencing of other issues. See embedded image for proposed sequencing through most or all of January.

![image](https://user-images.githubusercontent.com/8129162/33179002-d003b582-d01c-11e7-9560-e04579258227.png)

[2017-11-28 18:25] PPaulsonOregonDOT commented on #24
I agree that the service miles urban/rural split is an important attribute, but I suspect that it will involve taking the shapes associated with each trip and counting those urban and rural miles for each trip. I think that we need to resolve #67 before we can have any confidence that this trip related values will be remotely accurate.

[2017-12-01 00:22] ODOT-RPTD-mb commented on #4
@antrim @PPaulsonOregonDOT @ed-g  - word file with some additional notes on GTFS feed set updates and archiving.
[TNAST GTFS DATABASE UPDATE NOTES.docx](https://github.com/pouyalireza/TNAST_MAVEN/files/1519952/TNAST.GTFS.DATABASE.UPDATE.NOTES.docx)

[2017-12-19 21:48] PPaulsonOregonDOT commented on #24
I think we've resolved #67, at least in terms of the projection issue. The ArcGIS modelling don't show a huge amount of connection between the results that we're seeing in the tool, which doesn't provide a huge amount of data about how to fix it. I am wondering if there's some part of the code that picks the longest route urban/rural segment for the route that is different when picking the route s

[2018-01-04 19:54] antrim commented on #79
Issues (in order):
#77 reorg db
#78 New GTFS snapshot
#75 better log messages
#67 route mile measures inconsistency
#65 Shapefile exporter bug broken
#22 Time of day reports

[2018-01-18 23:38] PPaulsonOregonDOT commented on #67
This demonstrates the general problem that I've encountered, from an analysis in ArcMap. The pink area is the Roseburg Urban Boundary area, the green lines are the transit lines that have been classified as rural, the red are the portions of the the system that have been classified as urban, by either clipping or erasing the urban boundary from the transit routes, and the black lines on the image

[2018-02-15 19:32] PPaulsonOregonDOT opened #82 "Routes Report not refereshing"
Working in the tool, @ODOT-RPTD-mb  and I noted that the routes summary report appears not to be refreshing or updating when dates are changed using the date selector. For instance, the report defaults to a today (2/15/17 in this case), but I tried to draw a report for a week of service from the 12/10-12/16 3018 and upon submitting the new dates, the report didn't change. This behavior is similar

[2018-02-16 19:12] PPaulsonOregonDOT commented on #82
As a follow-up, clicking on the stops hyperlink from the routes summary reports takes the user to a stop report that doesn't load any time information and hangs up while loading. Reaching the stops report via other reports (agencies summary report, county summary report) does not cause this error, which suggests that something on the routes summary report page itself broken.

[2018-03-02 21:10] PPaulsonOregonDOT opened #90 "Missing Agencies"
I reviewed the agencies that are contained in the April 2018 DB, and noted a few major changes from the September 2017 DB.

Contains 58 of 64 Agencies.

Missing: **C-Tran**, Curry Public Transit, **LTD**, Pacific Transit, Sage Stage, **RVTD**, **Cherriots**
Changed Name: Pacific Crest became Eugene to Bend,
Added Oregon Express Shuttle

It looks like three agencies that serve parts of Oregon but a

[2018-03-02 22:10] KalonThomas commented on #90
Updated agencies list with data url locations can be found here: https://docs.google.com/spreadsheets/d/1Pq2vGSW3ba_Y-xvf80aIcB8dim6c6wr_-JnawyJGm7k/edit#gid=1538882271

[2018-03-02 23:15] PPaulsonOregonDOT opened #91 "Missing Geographies in April 2018 Database"
I noted that the Key Transit Hub Report shows 0 for the county and census place count, which doesn't make any sense.

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/KeyHubSreport.html?&x1=0.08&x2=0.25&x3=2&n=cbs&dbindex=11&popYear=2010
This behavior is carried over into the geographic reports, which show 0 agencies, routes, etc
**Counties**
http://tna.trilliumtransit.com:8090/TNAtoolAPI-Web

[2018-03-03 00:23] PPaulsonOregonDOT opened #92 "Statewide Report"
Currently, when working from the April 2018 database, the statewide summary report won't load. I have tested this inside and outside of the ODOT network environment periodically throughout the day, and it has persisted across that time.

[2018-03-03 00:43] PPaulsonOregonDOT opened #93 "Transit Agency Extended Report"
The April 2018 database version of the extended agency report for trimet appears to be suffering from a similar issue to #90, but complicated by the fact that I'm not 100% sure which version of the feeds went into the database, so I'm not clear if this might be a calendar_dates.txt problem in the feed itself, or if it's the an error in the tool or database:
April 2018 for a set of dates that servi

[2018-03-05 16:07] ODOT-RPTD-mb opened #94 "Date range graph issues"
"gtfs" feed shows up in graph - no text to tie to any agency?
cccexpress and eugenetobend feeds end prematurely?
@PPaulsonOregonDOT

![image](https://user-images.githubusercontent.com/8129162/36985413-0dd09f4a-204c-11e8-8adb-ba7a70c82199.png)

[2018-03-05 16:22] ODOT-RPTD-mb commented on #82
These issues have not changed in new staging instance of tool.

[2018-03-05 16:28] ODOT-RPTD-mb commented on #91
**Stops**
http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/stopreport.html?&agency=101&n=ces&x=0.25&dbindex=11&popYear=2010&geotype=-1&geoid=null&areaid=null&type=null&route=null&nav=stateS-agencyS&rc=-1&stime=0:00&etime=23:59

[2018-03-05 23:00] irees commented on #90
These will be included in the next development server build.

[2018-03-05 23:01] irees commented on #94
@ODOT-RPTD-mb the "gtfs" feed is TriMet; it was based on the url in the spreadsheet. I'll make sure it is renamed to something more appropriate in the next build.

[2018-03-05 23:14] irees commented on #91
It looks like this issue and #92 are related to an incorrect copy of one of the census geography tables. Checking to see exactly what is different.

[2018-03-05 23:29] irees commented on #94
@KalonThomas Can you check the end dates for `cccexpress` and `eugenetobend`?

[2018-03-05 23:32] irees commented on #77
containerized staging instance is up using new setup; containerized production instance will be setup at next stable release.

[2018-03-05 23:32] #77 closed

[2018-03-05 23:48] drewda commented on #65
Item `1.` in that list has been addressed in pull request #80

[2018-03-06 00:27] KalonThomas commented on #94
@irees

`cccxpress` The feed end date is correct in this case (20180321). I'm making an inquiry with the agency for next semesters schedule info and can let you know when updates to the GTFS have been made extending the feed.

`eugenetobend` it looks like data was being pulled from an old url prior to a few agencies merged into Pacific Crest Lines. The data url has been updated to in the [ODOT GTF

[2018-03-06 02:13] irees commented on #91
The stops weren't geocoded correctly - fixing.

[2018-03-08 10:27] irees commented on #82
@ODOT-RPTD-mb can you provide the url of the exact report

[2018-03-08 10:28] irees commented on #91
Will be resolved in #97

[2018-03-08 10:29] irees commented on #92
Related to #91, will be resolved in #97

[2018-03-08 17:43] ODOT-RPTD-mb commented on #82
@irees
**Routes Summary Report, date selection issues example:**
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/routereport.html?&areaid=41001&type=0&x=0.25&n=chs&dbindex=10&popYear=2010&geotype=-1&geoid=null&nav=stateS-countyS#

**Stops Report does not load example:**
http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/stopreport.html?agency=59&x=0.25&route=5228&n=chs&popYear=2010&nav=st

[2018-03-08 17:53] ODOT-RPTD-mb opened #98 "Connection Refused (Census Place Report)"
@irees @drewda @PPaulsonOregonDOT
http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/GeoPlacesReport.html?&dbindex=11&popYear=2010

[2018-03-10 07:44] irees commented on #98
This worked for me just now.

[2018-03-10 07:49] irees commented on #94
I have updated with the most recent set of feeds in Kalon's spreadsheet above. A few urls had the same or non-descriptive filenames, so I assigned them a filename based on the "agency name" field in the spreadsheet.

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/Daterange.html?dbindex=11

Note: a few smaller feeds failed to import due to some database uniqueness constraint being violated -

[2018-03-10 07:54] irees commented on #90
Updated build based on http://oregon-gtfs.com/gtfs_data/pacificcrest-or-us/pacificcrest-or-us.zip

Note: A few feeds failed to import (Columbia Gorge Express, Linn Benton Loop, Quail Trail Public Transit, Sandy Area Metro, Sunset Empire Transportation District, and The Wave) due to some hibernate uniqueness constraint violation. I'm looking into it and will figure out if it's in my code or in the

[2018-03-10 07:56] irees commented on #91
Resolved in #97

[2018-03-10 07:56] #91 closed

[2018-03-10 07:58] irees commented on #92
Resolved by #97

[2018-03-10 07:58] #92 closed

[2018-03-10 08:02] irees commented on #93
@PPaulsonOregonDOT Can you see if this is resolved in the most recent build?

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/AgenXReport.html?&agency=TRIMET&x=0.25&l=2&n=cfscgschs&dbindex=11&popYear=2010&areaid=null&type=0&username=admin&geotype=-1&geoid=null&nav=stateS-agencyS

[2018-03-10 08:20] irees commented on #82
@ODOT-RPTD-mb

I see the issue you're describing with the Routes Summary Report not refreshing when changing dates. It appears to be a front-end issue.

The Stops Report not loading is due to a 404 error on an API request.

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/queries/transit/StopsR?agency=59&day=03/08/2018&route=5228&x=0.25&areaid=41001&type=0&key=0.8764877102309176&dbindex=10&po

[2018-03-10 08:30] irees commented on #70
I made improvements to the configuration management and the per-database .xml files are no longer needed.

[2018-03-10 08:30] #70 closed

[2018-03-12 22:18] irees opened #99 "Assumes agency_id's will be unique across all feeds"
Some feeds fail with the error below:

![screen shot 2018-03-08 at 4 07 56 pm](https://user-images.githubusercontent.com/720087/37312543-a55f3be8-2608-11e8-9a65-9d748b174994.png)

Check and see if it's an issue in the data or application.

[2018-03-12 22:19] irees commented on #90
Moving the feed import issue to #99.

[2018-03-12 22:19] #90 closed

[2018-03-12 22:19] irees commented on #94
Moving the feed import issue to #99.

[2018-03-12 22:19] #94 closed

[2018-03-12 22:20] #98 closed

[2018-03-12 22:21] irees opened #100 "StopR request generates 404"
The [Stops Report](http://tna.trilliumtransit.com:8080/TNAtoolAPI-Webapp/stopreport.html?agency=59&x=0.25&route=5228&n=chs&popYear=2010&nav=stateS-countyS-route&areaid=41001&type=0&dbindex=10) issues an API request that results in a 404 error:

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/queries/transit/StopsR?agency=59&day=03/08/2018&route=5228&x=0.25&areaid=41001&type=0&key=0.876487710

[2018-03-12 22:22] irees commented on #82
Moving the Stops Report issue to #100

[2018-03-12 22:23] #93 closed

[2018-03-12 22:24] irees commented on #93
Please feel free to re-open the issue if the updated build is not correct.

[2018-03-14 06:06] irees commented on #99
The error is due to an assumption that `agency_id`s will be unique across all feeds uploaded. The latest set of feeds does not satisfy this constraint, e.g.:

[code]

and

[code]

I will check with @KalonThomas on resolving this, or if the assumption should be fixed in TNAST (e.g. creating a synthetic `agency_id`?)

[2018-03-14 06:26] irees commented on #99
@KalonThomas update above - no fix needed on your part.

[2018-03-14 06:26] #99 closed

[2018-03-15 05:07] irees commented on #67
I think I may have a fix. It appears to be an issue with the gtfs trip shapes having self-intersections. When a line is ST_Intersection'd with another geography such as a census block or state, the intersection is dissolved, and a lower total distance is reported.

Here is a query that demonstrates this (for 3 routes in the Albany bus system used in the issue above):

[code]

Output

[code]

The `

[2018-03-15 17:38] drewda commented on #78
April 2018 database is now working on new staging server (port 8090).

[2018-03-15 17:38] #78 closed

[2018-03-15 17:39] irees commented on #67
Attached is a query showing each route_id and the different measures of length, sorted by the difference between the plain ST_Length of the trip shape vs. ST_Length(ST_Union(trip.shape)). About 1/2 of all routes have no difference; another 1/3 have a small difference, and a small number of routes have a large difference. However, all differences are positive.

[code]

[length_debugging2.xlsx](http

[2018-03-20 21:56] ed-g commented on #67
@irees random thought. Dissolve the trips into individual line segments using ST_DUMP, followed by ST_Instersect with the County polygon, followed by ST_Length, and then SUM the total lengths of all intersecting line segments.

[2018-03-20 23:49] PPaulsonOregonDOT commented on #82
It looks like this problem has been diagnosed but not fixed in the most recent version of the tool that I have been looking at. In case it provides some insight about a possible solution, the report I'm looking at is:
http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/routereport.html?&agency=148&x=0.25&n=cts&dbindex=11&popYear=2010&nav=stateS-agencyS

[2018-03-21 00:34] irees commented on #67
@ed-g Yup - I ended up with something similar. I broke the routes into individual line segments, then use that for the ST_Intersect with the census blocks. This way, each individual segment is correctly intersected and counted towards the total length without dissolving duplicates.

[code]

[2018-03-21 01:11] irees commented on #67
I added a fix for this particular report. There are several other places where a similar spatial join is made; I am looking for the simplest possible way to fix the issue generally.

[2018-03-21 19:54] irees commented on #67
I have a more generalized and performant fix on the way. It does require the creation of a relatively simple additional table (1 simple query); I will add this table creation to the `updateTrips` method and create it manually in the existing databases.

[2018-03-23 22:26] PPaulsonOregonDOT commented on #67
@irees I just loaded up the report using the URL that I specified, and it defaulted to September 2017 database. I tried to change it to the April 2018 db using the db selector, and that functionality appears to be greyed out, which isn't an expected functionality for me. In looking at the original URL and the report from the 90 version of the tool, the reports appear to match up, but the September

[2018-03-27 20:09] PPaulsonOregonDOT commented on #100
@irees I would check this set of reports as well, it appears to be a different path to a similar issue:
Via the County Report->Benton County Agencies-> Routes Report -> Two Stop Reports

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/stopreport.html?&agency=456&areaid=41003&type=0&x=0.25&n=cAs&dbindex=11&popYear=2010&geotype=-1&geoid=null&nav=stateS-countyS-agencyS&rc=-1

http://tna.trilliu

[2018-03-27 21:22] irees commented on #67
@PPaulsonOregonDOT The update is now deployed and the database updated; the sum of the values should now be generally within 1/10th of a mile of each other (unless the agency includes route miles in other states.)

[2018-03-27 21:22] irees commented on #65
Feature additions `2` and `3` are addressed by pull requests #104 and #106.

[2018-04-05 22:17] PPaulsonOregonDOT opened #110 "Shapefile Export Results with day of week selected"
When exporting routes data from the shapefile export (See issue #65) using the day of the week selection function, for agencies whose GTFS data are bundled with another agency, the export only the provides .dbf file for that agency without any geometry data attached. I have attached the list of effected agencies, grouped by the bundled agency. It appears that the first agency listed in agency.txt

[2018-04-05 22:18] #22 closed

[2018-04-05 22:19] #14 closed

[2018-04-05 22:21] #67 closed

[2018-04-05 22:21] #74 closed

[2018-04-09 16:25] ODOT-RPTD-mb opened #111 "Timing Connection Report Map"
http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/TimingConnection.html?&dbindex=11
Map not displaying.

[2018-04-09 16:29] ODOT-RPTD-mb opened #112 "Timing Connection Report [re-design]"
Improve usability of timing connection report.

[2018-04-09 16:40] ODOT-RPTD-mb commented on #17
Refining Issue:
For each report type that allows user to specify a stop radius; calculate and add to report results pop/employment/employees per area (acre) in reports. In cases of intersecting stop circles do not double count pop/employment/employees.

[2018-04-17 19:30] ODOT-RPTD-mb commented on #13
@irees @drewda @PPaulsonOregonDOT
It should be relatively easy for user to understand which agencies are active/inactive. Indication of active agencies should be part of report metadata file.

Let's experiment first with the "Statewide Extended Report".

[2018-04-17 19:39] ODOT-RPTD-mb commented on #17
@irees @drewda @PPaulsonOregonDOT
Let's experiment with the "Statewide Extended Report" first.  Labels of new report values should have relevant mouse-over text.

[2018-04-23 02:37] irees commented on #110
OK. It looks like how agency id's are joined through `gtfs_calendars`. The `serviceid_agencyid` in `gtfs_calendars` is set to the first agency in the GTFS file, when in fact `calendar.txt` entries are not tied to any agency in particular, but are instead global service definitions for the feed. Creating either a better join or a work around.

[2018-04-23 07:25] irees commented on #111
Possible causes:
1. Missing Google Maps API keys
2. 'Show Map' button may attempt to render before some request callbacks are complete
3. Map will not display unless window is at least a certain width
4. Strange behavior with buttons twitching between clickable/not clickable, possibly callbacks/rendering related.

Spending more time in the debugger. Fortunately under some circumstances and waiting

[2018-04-24 17:25] irees commented on #110
The above PR seemed to resolve the issue; will be on staging servers with the next update, probably today.

[2018-04-25 04:43] irees commented on #111
This took a bit of sleuthing.

The timing connection report main frame handled the queries and table display, and then shared the javascript state with an iframe that contained the map. This iframe was reloaded each time a trip was queried; this was the source of the problems, and became very dependent on the order of events, timing, etc. I ended up moving the map from the iframe into the main tim

[2018-04-26 04:41] irees commented on #111
On staging. Should work more reliably now. Please re-open if there are further improvements suggested.

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/TimingConnection.html?&dbindex=12

[2018-04-26 04:41] #111 closed

[2018-04-26 04:42] irees commented on #110
On staging. You can test by selecting "May 2018", "Albany Transit System", and "Linn-Benton Loop" (these come from the same GTFS source file) and selecting Routes or Stops with today's date. Please re-open if there any further suggestions.

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/ShapeFileExport.html

[2018-04-26 20:29] irees commented on #82
The Routes Report not refreshing cause is fairly simple - the "Submit" button is not clickable, so the `onclick` event handler is never fired to call `reloadPage()`. A fix is coming soon.

[2018-04-26 20:54] drewda opened #115 "rename project to TNExT"
- [x] @drewda: rename repository
- [x] @irees: update references to repository URL in `.git/config` files on Linode
- ~~update any `Dockerfile` references~~
- [x] change all instances of TNA to TNeXT
https://github.com/ODOT-PTS/TNAST_MAVEN/search?q=tna&type=Code
- [x] change "Transit Network Analysis" to "Transit Network Explorer"
https://github.com/ODOT-PTS/TNAST_MAVEN/search?utf8=%E2%9C%93&q=%22

[2018-04-26 21:27] ODOT-RPTD-mb commented on #115
If there is no compelling reason to touch /TNAtoolAPI-Webapp URLs, I am fine with no change.

From: Drew Dara-Abrams [mailto:notifications@github.com]
Sent: Thursday, April 26, 2018 2:20 PM
To: ODOT-PTS/TNExT
Cc: BARNES Matthew M; Mention
Subject: Re: [ODOT-PTS/TNExT] rename project to TNExT (#115)

Many URLs include /TNAtoolAPI-Webapp. It it worth modifying these to say /tnext?

If this is worth

[2018-04-26 21:31] drewda commented on #115
It's just cosmetic, so we'll leave it be.

[2018-04-26 23:44] PPaulsonOregonDOT commented on #110
In looking at the shapefile export that I just did for the full stops report (no date selected), out of the May 2018 DB, it appears that the effective end/start date and the arrival and departure have all been times concantenated into a single string and placed into the provider_nm field.

[2018-04-27 00:49] irees commented on #82
The culprit turned out to be an invisible jquery-ui tooltip rendered over the "Submit" button. I changed the positioning of the tooltip so that it won't obscure the Submit button. Alternatively I can remove the jquery-ui tooltips entirely and rely on the browser's built-in tooltip behavior for input elements. PR coming.

[2018-04-27 01:56] #82 closed

[2018-04-27 02:09] irees commented on #110
Hi @PPaulsonOregonDOT -- I'm not able to reproduce the problem. Can you say which agencies you selected?

![screenshot 2018-04-26 19 07 20](https://user-images.githubusercontent.com/720087/39340848-420e4db8-4985-11e8-8c24-04189bea4b44.png)

![screenshot 2018-04-26 19 07 49](https://user-images.githubusercontent.com/720087/39340853-45b7bf30-4985-11e8-8029-f763cc985542.png)

[2018-05-01 23:13] irees commented on #100
There were several issues with incorrect types and missing query parameters in the report. The above PR should fix all the stops reports mentioned in this issue.

[2018-05-03 20:27] drewda commented on #115
Now complete.

[2018-05-03 20:27] #115 closed

[2018-05-03 21:38] #21 closed

[2018-05-03 22:24] PPaulsonOregonDOT commented on #100
This report, the stops report reached from the agency summary report, seems to still have an issue.
http://oregon.tnext.io:8090/TNAtoolAPI-Webapp/stopreport.html?&agency=174&n=ecs&x=0.25&dbindex=12&popYear=2010&geotype=-1&geoid=null&areaid=null&type=null&route=null&nav=stateS-agencyS&rc=-1&stime=0:00&etime=23:59

[2018-05-04 04:37] irees commented on #17
@ODOT-RPTD-mb

I have added area served and population density rows to the "Statewide Extended Report." It is on staging for testing.

http://oregon.tnext.io:8090/TNAtoolAPI-Webapp/GeoStateXreport.html?&x=0.25&l=2&n=ecs&dbindex=12&areaId=41&popYear=2010&nav=stateS

![screenshot 2018-05-03 21 20 42](https://user-images.githubusercontent.com/720087/39613041-60dae5b4-4f19-11e8-9836-ad4d1357bfc7.png)

[2018-05-08 05:26] irees commented on #13
@ODOT-RPTD-mb  @PPaulsonOregonDOT @drewda

I have an initial implementation and a demo on one report. I used the Transit Agencies Summary Report because it clearly shows the results of the selection.

http://tna.trilliumtransit.com:8090/TNAtoolAPI-Webapp/AgenSReport.html?&dbindex=12&popYear=2010

I used an approach very similar to what @ed-g sketched out above. There is a new `user_selected_agenci

[2018-05-08 21:48] #65 closed

[2018-05-08 21:53] PPaulsonOregonDOT commented on #17
From this description, it appears that the area calculation comes from the area of the census blocks that are selected. If that assumption is correct, is it possible that changing the population radius or level of service parameter might not change the population or area figures if the same set of census blocks is selected?

[2018-05-08 21:55] PPaulsonOregonDOT commented on #5
This issue appears to be resolved, given the functionality currently in the tool and the resolution of the OTA floating box issue.

[2018-05-08 21:55] #5 closed

[2018-05-09 00:16] PPaulsonOregonDOT opened #121 "Route ID's should be unique across all feeds"
@KalonThomas I am having some issues with the shapefile export. specifically collapsing the trips by route, because route_id = '290' refers to both Trimet's Orange Line and Cascades East route to Madras. The tool appears to be handling these cases correctly in the other parts of the tool, but the GTFS feeds should be updated to have unique ID's.

@irees @drewda I think from a QA/QC perspective, it

[2018-05-09 01:30] antrim commented on #121
@PPaulsonOregonDOT: Since the GTFS does not specify route_ids should be unique across feeds, I think we should be careful about setting up such an expectation as a design choice for TNeXT.

Here are two options:
1. We alter the TNeXT software to correctly deal with overlapping route_ids. I suggest we get an hours estimate so we know what it will cost to do this.
2. We make a one-off workaround fix

[2018-05-10 17:06] irees commented on #121
The routes table is currently defined to be unique on `(agency_id, route_id)`. If there are places where TNExT is not considering agency_id when processing routes, that can be added. It can also be added to any output or input widgets.

Ideally the `agency_defaultid` should be used (defaultid is essentially the ID for the feed itself), since there is also not technically a requirement that `agency

[2018-05-10 17:09] irees commented on #17
@PPaulsonOregonDOT

Yes, the area is the total area of all census blocks selected. It is not the area of the census blocks intersected with the radius buffer around the stops.

This could be added. It would require multiplying the population/employment in each census block by the percentage area of the intersection. This may not be a totally valid assumption (that population/jobs is uniformly dist

[2018-05-10 17:15] PPaulsonOregonDOT commented on #17
@irees I don't think that the way this is calculated is problematic, I just want to make sure that I understand how it was working, and raise the question in case others have concerns.

[2018-05-10 17:32] irees commented on #13
@PPaulsonOregonDOT

OK. Yes, it reloads the current page, since changing the selection will change the report output. In this regard it works similarly to changing the database selector or the population year selector. I could omit this behavior and require a manual "submit" action.

It will be pretty easy to change the style of the selector. That can continue to be done now or in the future, so I

[2018-05-10 17:34] irees commented on #17
@PPaulsonOregonDOT OK. That was my thought as well, since the existing population values are calculated using whole census blocks. I'll go ahead and add the table rows to other reports that use the same `/geoAreaXR` query.

[2018-05-10 21:57] ODOT-RPTD-mb commented on #17
@irees @PPaulsonOregonDOT @drewda  Assuming this represents a fairly trivial change.... let's mirror the Population Density fields with corresponding Employment and Employees fields, each with an Urban and Rural component. So we will have a total of eight density related fields;
The two Area Served (rural/urban) fields and two fields each for Population/Employment/Employees (rural/urban). We can d

[2018-05-10 22:36] ODOT-RPTD-mb commented on #17
@irees @PPaulsonOregonDOT @drewda I am realizing that I dropped our earlier conversation about the interaction of density and served at level of service. Also Phil provided some comments about possible simplification of results. I am going to take a more comprehensive look and likely modify my prior comment.

[2018-05-11 18:27] PPaulsonOregonDOT commented on #112
Currently, this link does not provide any options in the agency drop down menu from any of the databases.
http://oregon.tnext.io:8090/TNAtoolAPI-Webapp/TimingConnection.html?&dbindex=12

[2018-05-14 19:08] ODOT-RPTD-mb commented on #17
@irees @PPaulsonOregonDOT @drewda
**_Reports should be revised to display and/or provide enough information to allow calculation, of this set of values:_**

Impacted by stop radius selection:

- Area served(1)
- Rural area served(1)
- Urban area served(1)

And by min level of service selected:

- 	Area served at level of service(1)(2)(3)
- 	Rural area served at level of service(1)(2)(3)
- 	Urban a

[2018-05-17 16:57] irees commented on #112
@PPaulsonOregonDOT Thanks for pointing this out - I saw it in testing earlier. It is a regression caused by agency selection and it will be fixed.

[2018-05-18 00:19] PPaulsonOregonDOT opened #124 "Calendar Reverting to current day in metadata"
It appears that the TNeXT tool may be reverting back to the current day when it is set to another day in the date selector. As an example, I'm attaching the metadata file for a Title VI report that I set to May 3rd, 2018 to predate the expiration of Cherriots GTFS feed. The service date selected shows up as 5/17/18, which is today, the day I ran the reports. It is hard to tell if this is simply a

[2018-05-25 16:19] ODOT-RPTD-mb opened #128 "Erratic date de-selection Title VI"
@PPaulsonOregonDOT

Select new past date, attempt to de-select current date. Current date flashes but still shows as selected.

https://oregon.tnext.io/TNAtoolAPI-Webapp/T6.html?&n=eys&dbindex=12

[2018-05-25 16:33] ODOT-RPTD-mb opened #129 "Poverty definition & 200% of poverty"
@PPaulsonOregonDOT
New poverty level defined each year by Census Bureau. https://aspe.hhs.gov/poverty-guidelines

Can poverty definition be easily updated in TNExT? If not, is there a reasonable fix that simplifies poverty defintion updates?

Should poverty definition match census data date? I.e. 2010 census data poverty definition used with 2010 census data?

Does TNExT shift definition of povert

[2018-05-25 18:49] irees commented on #17
Added for geographic reports. I included all of the breakouts requested by @ODOT-RPTD-mb. I initially attempted to present them in a table, with columns for "total, urban, rural" for each category -- but it did not play well with the existing table display. Instead they are all listed as rows in the main table; they can be filtered using the input field below the table. Tooltips are also included

[2018-05-31 14:55] irees commented on #100
Fixed by #132

[2018-05-31 14:55] #100 closed

[2018-05-31 14:58] irees commented on #112
Error in http://oregon.tnext.io:8090/TNAtoolAPI-Webapp/TimingConnection.html?&dbindex=12 fixed as part of #131

[2018-06-07 16:55] #79 closed

[2018-06-07 17:03] ODOT-RPTD-mb opened #139 "Add Set Date Capacity for Reports Influenced by Expired Feeds"
@PPaulsonOregonDOT
Summary reports typically do not support specification of report date, So as feeds expire there is not obvious method for user to get summary report for time period for which feeds were active.

For example:
https://oregon.tnext.io/TNAtoolAPI-Webapp/GeoPlacesReport.html?&dbindex=12&popYear=2010#

Explore setting map date, and changing client/user PC date as possible work-arounds

[2018-06-07 17:16] #4 closed

[2018-06-07 17:17] #75 closed

[2018-06-07 17:17] PPaulsonOregonDOT commented on #139
Generally, the summary reports don't show any data that is date dependent. For instance, in the report above, the summary report 558 urban stops, most of which are served by Cherriots, despite their feed expiring on 5/5/18.  I think the presumption that the tool works under is that when a feed expires, service stops, but that the physical stop locations are still in place. I don't think that this

[2018-06-07 17:17] #58 closed

[2018-06-07 17:29] ODOT-RPTD-mb commented on #139
Never-mind temporary confusion RE: stops/visits

[2018-06-07 17:29] #139 closed

[2018-06-07 17:30] #13 closed

[2018-06-07 17:30] #6 closed

[2018-06-07 17:39] ODOT-RPTD-mb commented on #17
Add functionality to data dump reports.

[2018-06-07 17:43] #64 closed

[2018-06-27 16:36] PPaulsonOregonDOT opened #140 "Title VI/Employment Time-out"
In  both the Oregon DOT environment and outside of it, it appears that the Title VI report: https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/Emp.html?&n=fAs&dbindex=12 and the employment report at https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/Emp.html?&n=fAs&dbindex=12 time out and do not complete their respective reports.

[2018-06-29 18:04] PPaulsonOregonDOT opened #141 "Park and Ride Report Missing Fields"
The park and ride report for Benton County: https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/ParkRideXReport.html?&countyid=41003&x=0.25&dbindex=12 has a number of entries that are missing significant pieces of information when you access the transit service drop down menu. In particular, in the entries for the park and rides labelled "SW corner of intersection: NW Arboretum Road and Hwy 99W", "H

[2018-06-29 20:19] PPaulsonOregonDOT commented on #140
We need to add the flexible reporting report at https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/FlexRep.html to the list of reports that is failing to complete, at least in the ODOT environment.

[2018-07-10 20:20] PPaulsonOregonDOT commented on #140
In the last week, the Title VI report has been completing within  a minute or two. In doing further investigation, the employment report for the September 2017 database completes in a similar amount of time from both instances of the tool:
https://oregon.tnext.io/TNAtoolAPI-Webapp/Emp.html?&n=gjs&dbindex=10
https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/Emp.html?&n=gjs&dbindex=10

but does not

[2018-07-11 02:47] PPaulsonOregonDOT opened #142 "Missing Route Miles"
In the extended reports data dump which I've attached, derived from the link below:
https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/Datadump.html?&n=gjs&dbindex=12&popYear=2010

there are a number of agencies (9 in total) that have 0 route miles listed, which is reflected in the extended reports of the individual agencies, accessed by this report:

https://oregon-staging.tnext.io/TNAtoolAPI-Weba

[2018-07-31 17:55] ODOT-RPTD-mb opened #143 ""No valid date range""
Bottom of agency drop-down list will often display a "No valid date range" message, depending on the selected GTFS feed snapshot. The text is hyperlinked to a feed coverage graphic.

Replace this text with a "best date range: [5 April 2018 - 11 April 2018]" message where the application identifies the time period that maximizes valid feed data. The smallest valid time period should be seven days.

[2018-07-31 20:55] ODOT-RPTD-mb opened #144 "Aggregated Urban Areas detail report, with default values stall"
https://oregon.tnext.io/TNAtoolAPI-Webapp/GeoUrbansRXreport.html?&popMin=0&popMax=2000000&x=0.25&l=2&n=gEs&dbindex=12&popYear=2010&nav=stateS-AggUAS

Progress bar gets to 100% in a reasonable time, but fails to complete within 80+ minutes.

Will try again to see if can be replicated.

![image](https://user-images.githubusercontent.com/8129162/43483096-76ff8a0c-94bf-11e8-8b43-f6bfc5d87820.png)

[2018-08-01 16:54] PPaulsonOregonDOT commented on #144
It appears that this is only a problem for the production version of the tool. This following link, from the staging version of the tool, completes within a few minutes, with the same database settings and default settings as the link above:
https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/GeoUAreasRReport.html?&popMin=0&popMax=2000000&dbindex=12&popYear=2010

I also tested the urban areas report

[2018-08-14 17:33] ODOT-RPTD-mb opened #145 "Agency Extended Report"
Add area/density metrics to agency extended reports. See issue #17 for more detail.

[2018-08-14 17:54] ODOT-RPTD-mb opened #146 "Add Feeds Selected to metadata exports."
Add information about selected, or de-selected feeds as part of the metadata export files "report parameters" section.  This applies to all ...metadata.txt report export files which contains data from more than one transit feed.

[2018-08-14 23:35] ODOT-RPTD-mb opened #147 "Counties Employment Report"
Both staging and public sites counties employment report fail to complete within 60 minutes.

[2018-08-21 20:39] ODOT-RPTD-mb commented on #9
To what degree, did interline work simplify the installation process. Can a moderately skilled technician create a TNExT instance?

[2018-08-21 20:50] #17 closed

[2018-08-21 20:57] ODOT-RPTD-mb commented on #71
Waiting for Matthew to review, Trillium draft page: _We've begun to add content to a draft website for tnext.io that can be viewed here https://tnexttest.github.io/website/ and you should have received a collaboration invite._

.

[2018-08-21 21:11] ODOT-RPTD-mb commented on #72
TPAU task needs to be specified by PTD;

TPAU Task:
Create fresh set of population/demographic estimates, estimates should be in sync with PSU pop center estimates. Process should be documented. Consider adding new urban areas in future estimates. Decide on appropriate update timing....

Interline/Consultant Task:
Update TNExT with revised demographic data. Document update process. Consider softwa

[2018-09-25 20:53] ODOT-RPTD-mb opened #148 "Sept 2018 GTFS snapshot staging report failures"
Multiple reports complete with "no data available" messages. For example: https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/GeoCongDistsReport.html?&dbindex=13&popYear=2010

Statewide summary report does not complete in reasonable time.

[2018-09-25 20:56] ODOT-RPTD-mb commented on #76
In light of interline work. Is this still relevent?

[2018-09-25 21:14] ODOT-RPTD-mb opened #149 "200% of poverty"
Add 200% of poverty functionality. In a best case scenario user could set arbitrary % of poverty as a parameter for relevant reports.

[2018-09-26 00:56] #149 closed

[2018-09-26 00:56] ODOT-RPTD-mb commented on #149
duplicate

[2018-09-26 00:57] ODOT-RPTD-mb commented on #129
Add 200% of poverty functionality. In a best case scenario user could set arbitrary % of poverty as a parameter for relevant reports.

[2018-09-26 01:11] #147 closed

[2018-09-26 01:18] ODOT-RPTD-mb opened #150 "Extending user input parameter functionality range"
ODOT is reviewing range of functionality for report parameters, is interested in extending useful range. For example it would be nice if all reports were functional with one contiguous week selected.

[2018-09-26 16:39] PPaulsonOregonDOT commented on #148
In looking at those reports, it appears that the no data available could be related to the 0/0 feed selected parameter. in the top right of the right report. Given further investigation, it looks like the data is just missing, because I was expecting a similar result from this report https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/GeoCountiesReport.html?&dbindex=12&popYear=2010 with 0 feeds sele

[2018-10-01 20:29] irees commented on #148
Looking into this now.

[2018-10-01 21:16] #148 closed

[2018-10-01 21:17] irees commented on #148
@PPaulsonOregonDOT I fixed this manually in `september2018` and added a code fix for future database. Can you take a look? https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/GeoCongDistsReport.html?&dbindex=13&popYear=2010

[2018-10-01 22:11] irees commented on #144
Looks like the nginx reverse proxy that sits in front of both tnext dev & prod instances was missing timeout limits.

The [underlying request](https://oregon.tnext.io/TNAtoolAPI-Webapp/queries/transit/UrbanrXR?&day=07/31/2018&key=0.7468148099410561&popYear=2010&username=admin&popMax=2000000&popMin=0&l=2&x=0.25) took slightly over 1 minute (1 minute and 3 seconds, to be exact), which was over the n

[2018-10-01 22:11] #144 closed

[2018-10-02 22:15] PPaulsonOregonDOT commented on #148
@irees The tool has data from 70 agencies/60 feeds in the reports that I use for testing, so this issue appears to be resolved.

[2018-10-03 22:40] ODOT-RPTD-mb opened #152 "more "employees served" (WAC) than population?"
Can this be valid? Does it represent a data issue?

noticed when reviewing key transit hubs export Sept. 2018 db

[2018-10-10 16:12] ODOT-RPTD-mb commented on #140
10/10/2018 oregon-staging.tnext.io; Sept 2018 db; title VI report is completing, employment report not completing.

[2018-10-12 04:46] irees commented on #140
It looks like the Title VI report timeouts were related to the proxy configuration problem fixed in #144. The Employment report timeouts are in the database query itself, which pegs the database cpu at 100% and did not complete after an hour. I have the query copied out and debugging now.

[2018-10-12 05:14] irees commented on #142
Looks like the `gtfs_trip_segments` table is missing data for a couple agencies. This table is normally updated whenever a new feed is imported into the database, and is used get the correct lengths of route/geography intersections.

I'm looking into why it did not populate for these particular agencies. In the meantime I rebuilt the `gtfs_trip_segments` table with the following query:

[code]

[2018-10-15 04:35] ODOT-RPTD-mb opened #153 "Data Dump Report, screen feedback & duplicate agencies"
https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/Datadump.html?&n=jns&dbindex=13&popYear=2010

Modify date, and modify visits count. Select "generate report" no immediate screen feedback that report was selected. After waiting for an extended period (2+ minutes) selected generate report again and slide bar appears at right, slide down to see progress bar.

Duplicate listing of most but not all ag

[2018-10-26 17:44] #142 closed

[2018-11-02 01:49] irees commented on #140
I improved the speed of the employment queries (should take about 5-10s now) by adding a spatial index on `lodes_blocks_wac.location`. I did this for all databases in both prod and dev. Not sure why the index was missing - when I create a new database locally from scratch, it is present.

[2018-11-02 01:49] #140 closed

[2018-11-08 23:39] #124 closed

[2018-11-08 23:41] irees commented on #124
The API request was made using the correct dates, but the values in metadata.txt used the initial values from when the page was loaded. This fix gets the correct values from the date widget.

[2018-11-20 21:18] PPaulsonOregonDOT commented on #153
I have been unable to replicate this behavior, and we believe it may be a result of double clicking results button. Should we close this issue?

[2018-11-20 22:48] PPaulsonOregonDOT commented on #150
After recent indexing of reports, it appears that this issue has been largely resolved. I've attached a copy of the excel file that I've used to document my testing. There are a few reports that don't complete under certain circumstances, but the list of those reports has shrunk considerably.
[RevisedReportCompletionSheet.xlsx](https://github.com/ODOT-PTS/TNExT/files/2601874/RevisedReportCompletio

[2018-11-27 19:34] PPaulsonOregonDOT opened #157 "Feed Expiration Mismatch"
While I was following up on an issue similar to #142 that @ODOT-RPTD-mb noticed in the data dump report, I noticed that a number of seasonal services (Klamath Shuttle, Mt. Bachelor) had no service metrics listed in the agency extended report, which I would expect given that they are not operating right now. The behavior I wasn't expecting was that all of the agencies would still have valid feeds.

[2018-11-27 19:53] PPaulsonOregonDOT commented on #129
Given what I learned about STIF calculations, I think fixing this problem and getting to your best case scenario requires reworking the base demographic data, which should probably be combined with the work required to fix issue #152.

[2018-11-27 20:04] PPaulsonOregonDOT commented on #141
After further investigation, entries that consist entirely of NULL values represent park and rides with no transit service within the defined perimeter, and those with undefined values appears to represent transit service that has not been adequately described in GTFS.

There are three park and ride lots in Benton County alone which are not served by transit within a 1 mile perimeter, which raises

[2018-11-27 22:32] KalonThomas commented on #157
@PPaulsonOregonDOT -- Investigating the expiration mismatch on this end and will get back to you with findings.

[2018-11-28 19:47] PPaulsonOregonDOT commented on #128
In iteratively testing this report, I haven't been able to reproduce this result. In testing the report completion performance, the report results changed appropriately comparing the results for 1 and 5 days (I couldn't get a seven day report to complete as part of this testing. The meta-data still doesn't reflect that change, as in issue #124.

[2018-11-28 19:53] PPaulsonOregonDOT commented on #76
It would appear that this issue has been resolved via interline work, as the production and development instances of the tool appear to have access to different database sets. If my understanding of this issue is incorrect, @irees @drewda, please re-open this issue.

[2018-11-28 19:53] #76 closed

[2018-11-28 19:59] PPaulsonOregonDOT commented on #112
One improvement that we have been discussing for a while that might build on the timing connections report work is a report that shows the average/total time that riders would spend transferring to and from services at a stop to identify "transfer friction", particularly through the Key Transit Hubs. From my limited understanding of the project, I think the valhalla routing engine might have some

[2018-11-28 23:48] PPaulsonOregonDOT opened #158 "Route vs. Stop Service Frequency"
I was following up on issue #141 in the interactive map interface, using Benton County Transportation's 99 route to Adair Village as a sample. I selected a 1 mile radius circle around Adair Village, attempting to pick up the park and ride lot along 99 between adair village and Corvallis.  The park and ride didn't fall within the area of interest, but I examined the stops and route information rela

[2018-12-06 22:58] PPaulsonOregonDOT opened #159 "Database Back ups"
I used the database dump link listed in the wiki for this project, and it took me to a google drive location which only had databases dating back to early 2016. If back-ups were not created for subsequent database, they should be created, and if they have been created, that portion of the wiki/metadata needs to be updated to reflect their location/conservator. Tagging @ed-g on this issue because i

[2018-12-06 23:05] ed-g commented on #159
@PPaulsonOregonDOT there are multiple good options for backing up a database -- if you have an idea of how the backups will be used, who will need to make them /access them, and how many hours you want to spend setting up the system I'll can find some options.

Here's one option with the builtin tools:

https://www.postgresql.org/docs/10/backup.html

[2018-12-06 23:38] PPaulsonOregonDOT opened #160 "Adding decimal figures to stops per service mile"
In the geographic and agency reports, it would be helpful for a current analysis for stops per service mile to be reported with more decimal place accuracy than the 2 currently provided, as most results fall within .00 and .03 stops per service mile, and it is difficult to differentiate between services.

[2018-12-06 23:47] PPaulsonOregonDOT opened #161 "Refinement Key Transit Hubs Report Methodology"
Comparing the Key Transit Hubs Report and the Transit Hub Report sorted to hubs with Agencies County > 3, there are additional hubs that would reasonably fit our definition of a Key Transit Hub, but are not being identified in the KTH report. I suspect that this is a result of a selection made to eliminate hubs that serve services which are wholly contained within a connecting agency's service are

[2018-12-07 21:21] PPaulsonOregonDOT commented on #159
I am hoping that this is a low resource endeavor, but I think the two main uses for the back-up will be for recovery purposes, for debugging issues that could result from a baseline data error or an error in who the tool is retrieving that data. I would personally be interested in having a database copy that I can test ad hoc or new queries against.

[2019-01-08 22:16] PPaulsonOregonDOT commented on #160
In digging into this issue a little further, the reports that provided these results were the result of stops/service miles for an entire week. In running these reports for different periods of time, it appears that this metric is calculated by taking the static number of stops and dividing it by the service miles, which means that it appears to be primarily linked to service miles. Clarifying how

[2019-01-09 19:53] PPaulsonOregonDOT opened #162 "OTA Floating Dialog Box Warning"
The OTA Floating Dialog box on the landing page for the tool currently shows any agency whose feed has expired in red if the current day is after feed_end_date in feed_info.txt as a warning to users that the feed has expired. This functionality is useful, but does not address feeds whose feed_start_date is in the future. To make the interface more intuitive for new users, and to accommodate agenci

[2019-01-10 00:33] irees commented on #145
Considerations:

1. Service closest to the date of capture is considered most reliable, decreasing with reliability in the future. Service before capture date is reliable.
2. How to handle a feed that may have service cuts vs its highest level of service
3. How to measure seasonal feeds

Keep an eye on: RVTD, ski services, shuttles

Goal: a week with the highest confidence that the representation

[2019-01-11 18:57] PPaulsonOregonDOT commented on #143
If we do decide to move forward with using the middle of the identified week as the default date for reports, we probably need to resolve two issues: If there are more than two weeks identified that have equally good representations of the state network, how do we break the tie, and how do we let the user know which date the report will default to? I will integrate any updates into any training I

[2019-01-16 03:17] irees opened #164 "Double counting stop visits in agency extended report"
When joining against 2 geographies, certain trip segments can be double counted.

More detailed notes to come.

[2019-01-17 21:44] irees commented on #145
I have both of these PRs up on staging. I fixed many issues with the Agency Extended Report queries in general, and added the density report. It has the exact same format and values as the other density report I added for geographic area queries.

Some examples:

agency - basic report
https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/AgenXReport.html?&agency=TRIMET&x=0.25&l=2&n=eas&dbindex=12&popY

[2019-01-18 02:18] irees commented on #143
Here's an initial concept.. still WIP but wanted to share. The graph shows, for each day of 2018, the number of agencies that provide at least 25% of their maximum service over the following 7 days.

![untitled2](https://user-images.githubusercontent.com/720087/51361311-31802e00-1a84-11e9-8a95-6c92d542cb23.png)

[2019-01-18 22:40] PPaulsonOregonDOT commented on #145
@irees I loaded each of these reports, and the reports in general look good, but the census tract report brings up an important issue. If you scroll through that report, there are a number of density metrics for rural areas that show with entries of N/A.

For this census tract, that result makes sense, because there are 0 rural stops, meaning that this must be an urban Census Tract. The problem is

[2019-01-22 00:35] irees commented on #145
@PPaulsonOregonDOT Hi, yes, I noticed the same issue. It shows the overall path of the report but does not list what specific thing you are looking at. You have to remember from where you opened the window. Can you make a new issue for this?

[2019-01-22 20:49] PPaulsonOregonDOT opened #167 "Navigation and Meta-Data in Agency Extended Report"
In issue #145 , @irees posted a series of links to extended agency reports for trimet limited to service in a county, census tract, and congressional district. In examining these reports, there is no information in the application or meta-data that specifies which geographic constraints have been placed on a the agency extended report, which could cause major confusion if users not familiar with t

[2019-01-23 01:27] ODOT-RPTD-mb opened #168 ".csv export failure"
@irees
Many .csv exports do not seem to work. Counties Title VI Report does show directory window and creates file on .csv export.
https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/T6.html?&n=avt&dbindex=13

Following reports are examples of not creating .csv files:
https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/ConAgenXReport.html?&gap=0.1&agency=101&dbindex=13

https://oregon-staging.tnext.io

[2019-01-23 23:32] ODOT-RPTD-mb commented on #168
Phil can't duplicate .csv issue on his Windows 7 PC. I can on my ODOT Windows 10 PC.

[2019-01-25 00:07] #168 closed

[2019-01-25 02:00] irees commented on #143
Another WIP. In this version, the value for each day represents the number of agencies that provide any level of service for 5 out of the next 7 days. It seems a bit more intuitive to understand. It could also produce a chart showing the overlap for all feeds, as shown in simple form below.

<img width="781" alt="screenshot 2019-01-24 17 57 54" src="https://user-images.githubusercontent.com/720087

[2019-01-25 19:28] PPaulsonOregonDOT opened #171 "Urban and Rural Stops?"
I was running a series of stop reports, from the Transit Regions Summary Report, which categorizes its stops at urban or rural.

https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/GeoRegionsReport.html?&dbindex=13&popYear=2010#

When I ran the urban and rural stops reports for region 2a, the same stop (stop number 14540, is the first stop listed in both reports for me) shows up in both urban and ru

[2019-01-25 22:36] irees opened #173 "Update Geotools Maven repo"
The geotools repo has changed, and the old url is no longer responsive.

See: https://github.com/OpenGeoportal/OGP2/issues/25#issue-59481848

[2019-01-25 22:40] #173 closed

[2019-01-25 22:48] irees commented on #168
@ODOT-RPTD-mb This fix is now up on staging.

Sorry it took an extra day - had to resolve an issue with a broken maven repository.

[2019-01-29 20:13] PPaulsonOregonDOT opened #175 "Loss of 6 Agencies in Janaury 2019 Database"
There were 70 agencies recorded in the Sept 2018 Database OTA floatingdialog box, but only 64 show up for the January 2019 database, Attached is an excel sheet summarizing the differences. The actual differences in the snapshots represented by the the excel sheet I believe shows 7 agencies that are not matched up but the database numbers only show a difference of 6.
[TNEXT Database ComparisonSept1

[2019-01-29 23:03] PPaulsonOregonDOT commented on #175
EDIT to this issue:

These changes occurred in the OTA floating dialog box. All but Cog Wild, Mt. Bachelor, and Bandon City Trolley show up in the Transit Agencies Summary report for both January 2019 and Sept 2018 databases.

Cog Wild and Mt. Bachelor are lost as agencies in the January 2019 database, and their loss explains the reduction in the number of feeds from 60 in the Sept 2018 snapshot t

[2019-01-29 23:14] KalonThomas commented on #175
@PPaulsonOregonDOT -- It looks like an issue on my end. I'll make adjustments to add these Mt Bachelor and Cog Wild to the 2019 database.

Just a note that there is a very high probability that the Mt. Bachelor Shuttle will be operating again in summer 2019 but we haven't received 100% confirmation. Therefore, the data for this agency will reflective of 2018 service levels extended into 2019.

[2019-02-03 21:56] ODOT-RPTD-mb commented on #175
Valley Retriever, which has not operated for a few years shows up on OTA floating dialog box.

[2019-02-04 22:04] ODOT-RPTD-mb opened #176 "Data Dump Future population years"
Data Dump Report in both staging and production:
Parameters:
  Report Type: Counties
  Pop./Emp. Source: Values larger than 2010
  GTFS Source: September 2018
  Radius: 0.25
  Min Level of Service: 2
  Days: 1 September 2018

Report seems to stall at 1%, other data dump report types tested; i.e. Agencies, have the same symptom.

[2019-02-05 00:02] irees commented on #176
https://github.com/ODOT-PTS/TNExT/blob/master/TNAtoolAPI-Webapp/src/main/webapp/resources/js/Datadump.js#L191

[2019-02-08 21:31] PPaulsonOregonDOT commented on #171
I compiled the full list of urban and rural stops from these reports state wide, and the final list had 1,405 stops in it. the statewide for the September 2018 database. When I removed stop ID, agency ID duplicates, that number was reduced to 1,318, which is the number reflected in the statewide summary report. This suggests that 87 stops are being counted as both urban and rural, or are being cou

[2019-02-12 18:20] #176 closed

[2019-02-13 19:00] PPaulsonOregonDOT opened #178 "Portland Aerial Tram Service Miles"
We have noticed that for the Portland Aerial Tram, when you load the Agency Extended Report and in the Agency Data Dump Report, it doesn't register any service miles, regardless of the database that is chosen, and irrespective of the number of days selected. However, the number of service hours, population served by service, and other frequency based metrics do register values and change as you ch

[2019-02-13 19:18] ed-g commented on #178
Hi @PPaulsonOregonDOT

Just popping in for a second, I happened to see your comment.

Grabbed some data from the gtfs-api database.

There are six (!) Aerial tram shapes:

[code]

[code]

The st_distance is the distance in meters from the previous shape point.

So it looks like there is data, I'll bet that excel just cut it off.

Ed

[2019-02-13 22:00] PPaulsonOregonDOT opened #179 "Astoria Riverfront Trolley"
I looked at the Astoria Riverfront Trolley stops report and it loaded without pre-loading the times for the report:

https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/stopreport.html?agency=915&x=0.25&route=11770&n=bmt&popYear=2010&nav=stateS-agencyS-route&dbindex=14

This service is not expected to be active until March, which means that the 0 visit counts for this report, but I checked Klamath S

[2019-02-15 21:22] PPaulsonOregonDOT opened #180 "Null visit Counts"
In the reports that I reviewed for issue #179, I noticed that each of the stop reports returns Null values for each stop in question. I think that we had encountered and resolved this issue recently, but it appears that the new build of the database for January 2019 has reintroduced this in this class of report. For reference

https://oregon-staging.tnext.io/TNAtoolAPI-Webapp/stopreport.html?&agen

[2019-02-15 23:06] PPaulsonOregonDOT opened #181 "Urban and Rural Population Served at Level of Service in Agency Data Dump"
In the agencies Data Dump Report, there is a Urban/Rural Population Served recorded for each service. However, the Urban/Rural Population Served by Service, which is frequency weighted, shows a result of undefined. This report shows urban and rural service stops, the tool can recognize that there is service, but that is not being translated to the population served by service.

[2019-02-20 23:50] PPaulsonOregonDOT opened #182 "Timing Connection Report"
Neither the Linn Benton Loop or Tillamook County Transit services show any timing connections in the Timing Connections report, even when expanding the time parameter to over 3 hours. Many other agencies had reports that showed the expected results, including other agencies contained in the same GTFS feed as the problematic agencies, which suggests that there is an issue with how the schedule data

[2019-02-21 18:59] ODOT-RPTD-mb opened #183 "Production site not working"
https://oregon.tnext.io No content comes up at this URL.

[2019-02-26 19:24] PPaulsonOregonDOT commented on #183
Production version of tool appears to be loading again

[2019-02-26 19:24] #183 closed

[2019-02-26 21:25] PPaulsonOregonDOT commented on #182
Portland Streetcar is showing the same behavior as above.

[2019-02-27 19:42] PPaulsonOregonDOT commented on #182
It looks like the timing connections report starts having issues with these feeds at different snapshots, though I haven't been able to discern a pattern yet. I will post below the data information I'm able to uncover below, edited as I get more information:

Tillamook County Portland Connector:
Expected Behavior: May 2017 DB, 5/17/2017
New Behavior: September 2017 DB, 9/20/2017

Sunset Empire
Exp

[2019-03-01 22:52] PPaulsonOregonDOT opened #184 "5+ mile search radius limit"
When testing reports, if you enter a search radius of greater than 5 miles, the tool loads a pop-up window with a message that says "Enter a number less than 5 miles for Search Radius." There has been recent conversations about use cases of reports with population search and connection distances larger than 5 miles, which the tool does not currently support.